  <footer role="contentinfo">
    <ul id="social-media-icons">
      <li>
        <a href="https://www.instagram.com/brunokinoshita/">
          <img src="/assets/icons/instagram.png" alt="Instagram link" />
        </a>
      </li>
      <li>
        <a href="https://bsky.app/profile/kinow.bsky.social">
          <img src="/assets/icons/bluesky.png" alt="BlueSky link" />
        </a>
      </li>
      <li>
        <a href="https://twitter.com/kinow/">
          <img src="/assets/icons/twitter.png" alt="Twitter link" />
        </a>
      </li>
      <li>
        <a href="https://github.com/kinow/">
          <img src="/assets/icons/github.png" alt="GitHub link" />
        </a>
      </li>
      <li>
        <a href="{{ "/feed.xml" | relURL }}">
          <img src="/assets/icons/news.png" alt="RSS feed link" />
        </a>
      </li>
    </ul>
  </footer>
