@import multiple '../../theme.config';
ul.ui.list,
ol.ui.list,
.ui.list {
  list-style-type: ;
  margin: ;
  padding:  ;
}
ul.ui.list:first-child,
ol.ui.list:first-child,
.ui.list:first-child {
  margin-top: 0em;
  padding-top: 0em;
}
ul.ui.list:last-child,
ol.ui.list:last-child,
.ui.list:last-child {
  margin-bottom: 0em;
  padding-bottom: 0em;
}
ul.ui.list li,
ol.ui.list li,
.ui.list > .item,
.ui.list .list > .item {
  display: list-item;
  table-layout: fixed;
  list-style-type: ;
  list-style-position: ;
  padding: ;
  line-height: ;
}
ul.ui.list > li:first-child:after,
ol.ui.list > li:first-child:after,
.ui.list > .list > .item,
.ui.list > .item:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
ul.ui.list li:first-child,
ol.ui.list li:first-child,
.ui.list .list > .item:first-child,
.ui.list > .item:first-child {
  padding-top: 0em;
}
ul.ui.list li:last-child,
ol.ui.list li:last-child,
.ui.list .list > .item:last-child,
.ui.list > .item:last-child {
  padding-bottom: 0em;
}
ul.ui.list ul,
ol.ui.list ol,
.ui.list .list {
  clear: both;
  margin: 0em;
  padding: ;
}
ul.ui.list ul li,
ol.ui.list ol li,
.ui.list .list > .item {
  padding: ;
  line-height: ;
}
.ui.list .list > .item > i.icon,
.ui.list > .item > i.icon {
  display: table-cell;
  margin: 0em;
  padding-top: ;
  padding-right: ;
  vertical-align: ;
  transition: ;
}
.ui.list .list > .item > i.icon:only-child,
.ui.list > .item > i.icon:only-child {
  display: inline-block;
  vertical-align: ;
}
.ui.list .list > .item > .image,
.ui.list > .item > .image {
  display: table-cell;
  background-color: transparent;
  margin: 0em;
  vertical-align: ;
}
.ui.list .list > .item > .image:not(:only-child):not(img),
.ui.list > .item > .image:not(:only-child):not(img) {
  padding-right: ;
}
.ui.list .list > .item > .image img,
.ui.list > .item > .image img {
  vertical-align: ;
}
.ui.list .list > .item > img.image,
.ui.list .list > .item > .image:only-child,
.ui.list > .item > img.image,
.ui.list > .item > .image:only-child {
  display: inline-block;
}
.ui.list .list > .item > .content,
.ui.list > .item > .content {
  line-height: ;
}
.ui.list .list > .item > .image + .content,
.ui.list .list > .item > .icon + .content,
.ui.list > .item > .image + .content,
.ui.list > .item > .icon + .content {
  display: table-cell;
  padding: 0em 0em 0em ;
  vertical-align: ;
}
.ui.list .list > .item > img.image + .content,
.ui.list > .item > img.image + .content {
  display: inline-block;
}
.ui.list .list > .item > .content > .list,
.ui.list > .item > .content > .list {
  margin-left: 0em;
  padding-left: 0em;
}
.ui.list .list > .item .header,
.ui.list > .item .header {
  display: block;
  margin: 0em;
  font-family: ;
  font-weight: ;
  color: ;
}
.ui.list .list > .item .description,
.ui.list > .item .description {
  display: block;
  color: ;
}
.ui.list > .item a,
.ui.list .list > .item a {
  cursor: pointer;
}
.ui.list .list > a.item,
.ui.list > a.item {
  cursor: pointer;
  color: ;
}
.ui.list .list > a.item:hover,
.ui.list > a.item:hover {
  color: ;
}
.ui.list .list > a.item i.icon,
.ui.list > a.item i.icon {
  color: ;
}
.ui.list .list > .item a.header,
.ui.list > .item a.header {
  cursor: pointer;
  color:  !important;
}
.ui.list .list > .item a.header:hover,
.ui.list > .item a.header:hover {
  color:  !important;
}
.ui[class*="left floated"].list {
  float: left;
}
.ui[class*="right floated"].list {
  float: right;
}
.ui.list .list > .item [class*="left floated"],
.ui.list > .item [class*="left floated"] {
  float: left;
  margin: ;
}
.ui.list .list > .item [class*="right floated"],
.ui.list > .item [class*="right floated"] {
  float: right;
  margin: ;
}
.ui.menu .ui.list > .item,
.ui.menu .ui.list .list > .item {
  display: list-item;
  table-layout: fixed;
  background-color: transparent;
  list-style-type: ;
  list-style-position: ;
  padding:  ;
  line-height: ;
}
.ui.menu .ui.list .list > .item:before,
.ui.menu .ui.list > .item:before {
  border: none;
  background: none;
}
.ui.menu .ui.list .list > .item:first-child,
.ui.menu .ui.list > .item:first-child {
  padding-top: 0em;
}
.ui.menu .ui.list .list > .item:last-child,
.ui.menu .ui.list > .item:last-child {
  padding-bottom: 0em;
}
.ui.horizontal.list {
  display: inline-block;
  font-size: 0em;
}
.ui.horizontal.list > .item {
  display: inline-block;
  margin-left: ;
  font-size: 1rem;
}
.ui.horizontal.list:not(.celled) > .item:first-child {
  margin-left: 0em !important;
  padding-left: 0em !important;
}
.ui.horizontal.list .list {
  padding-left: 0em;
  padding-bottom: 0em;
}
.ui.horizontal.list > .item > .image,
.ui.horizontal.list .list > .item > .image,
.ui.horizontal.list > .item > .icon,
.ui.horizontal.list .list > .item > .icon,
.ui.horizontal.list > .item > .content,
.ui.horizontal.list .list > .item > .content {
  vertical-align: ;
}
.ui.horizontal.list > .item:first-child,
.ui.horizontal.list > .item:last-child {
  padding-top: ;
  padding-bottom: ;
}
.ui.horizontal.list > .item > i.icon {
  margin: 0em;
  padding: 0em  0em 0em;
}
.ui.horizontal.list > .item > .icon,
.ui.horizontal.list > .item > .icon + .content {
  float: none;
  display: inline-block;
}
.ui.list .list > .disabled.item,
.ui.list > .disabled.item {
  pointer-events: none;
  color:  !important;
}
.ui.inverted.list .list > .disabled.item,
.ui.inverted.list > .disabled.item {
  color:  !important;
}
.ui.list .list > a.item:hover .icon,
.ui.list > a.item:hover .icon {
  color: ;
}
.ui.inverted.list .list > a.item > .icon,
.ui.inverted.list > a.item > .icon {
  color: ;
}
.ui.inverted.list .list > .item .header,
.ui.inverted.list > .item .header {
  color: ;
}
.ui.inverted.list .list > .item .description,
.ui.inverted.list > .item .description {
  color: ;
}
.ui.inverted.list .list > a.item,
.ui.inverted.list > a.item {
  cursor: pointer;
  color: ;
}
.ui.inverted.list .list > a.item:hover,
.ui.inverted.list > a.item:hover {
  color: ;
}
.ui.inverted.list .item a:not(.ui) {
  color:  !important;
}
.ui.inverted.list .item a:not(.ui):hover {
  color:  !important;
}
.ui.list[class*="top aligned"] .image,
.ui.list[class*="top aligned"] .content,
.ui.list [class*="top aligned"] {
  vertical-align: top !important;
}
.ui.list[class*="middle aligned"] .image,
.ui.list[class*="middle aligned"] .content,
.ui.list [class*="middle aligned"] {
  vertical-align: middle !important;
}
.ui.list[class*="bottom aligned"] .image,
.ui.list[class*="bottom aligned"] .content,
.ui.list [class*="bottom aligned"] {
  vertical-align: bottom !important;
}
.ui.link.list .item,
.ui.link.list a.item,
.ui.link.list .item a:not(.ui) {
  color: ;
  transition: ;
}
.ui.link.list a.item:hover,
.ui.link.list .item a:not(.ui):hover {
  color: ;
}
.ui.link.list a.item:active,
.ui.link.list .item a:not(.ui):active {
  color: ;
}
.ui.link.list .active.item,
.ui.link.list .active.item a:not(.ui) {
  color: ;
}
.ui.inverted.link.list .item,
.ui.inverted.link.list a.item,
.ui.inverted.link.list .item a:not(.ui) {
  color: ;
}
.ui.inverted.link.list a.item:hover,
.ui.inverted.link.list .item a:not(.ui):hover {
  color: ;
}
.ui.inverted.link.list a.item:active,
.ui.inverted.link.list .item a:not(.ui):active {
  color: ;
}
.ui.inverted.link.list a.active.item,
.ui.inverted.link.list .active.item a:not(.ui) {
  color: ;
}
.ui.selection.list .list > .item,
.ui.selection.list > .item {
  cursor: pointer;
  background: ;
  padding:  ;
  margin: ;
  color: ;
  border-radius: ;
  transition: ;
}
.ui.selection.list .list > .item:last-child,
.ui.selection.list > .item:last-child {
  margin-bottom: 0em;
}
.ui.selection.list.list >  .item:hover,
.ui.selection.list > .item:hover {
  background: ;
  color: ;
}
.ui.selection.list .list > .item:active,
.ui.selection.list > .item:active {
  background: ;
  color: ;
}
.ui.selection.list .list > .item.active,
.ui.selection.list > .item.active {
  background: ;
  color: ;
}
.ui.inverted.selection.list > .item,
.ui.inverted.selection.list > .item {
  background: ;
  color: ;
}
.ui.inverted.selection.list > .item:hover,
.ui.inverted.selection.list > .item:hover {
  background: ;
  color: ;
}
.ui.inverted.selection.list > .item:active,
.ui.inverted.selection.list > .item:active {
  background: ;
  color: ;
}
.ui.inverted.selection.list > .item.active,
.ui.inverted.selection.list > .item.active {
  background: ;
  color: ;
}
.ui.celled.selection.list .list > .item,
.ui.divided.selection.list .list > .item,
.ui.celled.selection.list > .item,
.ui.divided.selection.list > .item {
  border-radius: 0em;
}
.ui.animated.list > .item {
  transition: ;
}
.ui.animated.list:not(.horizontal) > .item:hover {
  padding-left: ;
}
.ui.fitted.list:not(.selection) .list > .item,
.ui.fitted.list:not(.selection) > .item {
  padding-left: 0em;
  padding-right: 0em;
}
.ui.fitted.selection.list .list > .item,
.ui.fitted.selection.list > .item {
  margin-left: -;
  margin-right: -;
}
ul.ui.list,
.ui.bulleted.list {
  margin-left: ;
}
ul.ui.list li,
.ui.bulleted.list .list > .item,
.ui.bulleted.list > .item {
  position: relative;
}
ul.ui.list li:before,
.ui.bulleted.list .list > .item:before,
.ui.bulleted.list > .item:before {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: auto;
  left: auto;
  margin-left: ;
  content: ;
  opacity: ;
  color: ;
  vertical-align: ;
}
ul.ui.list ul,
.ui.bulleted.list .list {
  padding-left: ;
}
ul.ui.horizontal.bulleted.list,
.ui.horizontal.bulleted.list {
  margin-left: 0em;
}
ul.ui.horizontal.bulleted.list li,
.ui.horizontal.bulleted.list > .item {
  margin-left: ;
}
ul.ui.horizontal.bulleted.list li:first-child,
.ui.horizontal.bulleted.list > .item:first-child {
  margin-left: 0em;
}
ul.ui.horizontal.bulleted.list li::before,
.ui.horizontal.bulleted.list > .item::before {
  color: ;
}
ul.ui.horizontal.bulleted.list li:first-child::before,
.ui.horizontal.bulleted.list > .item:first-child::before {
  display: none;
}
ol.ui.list,
.ui.ordered.list,
.ui.ordered.list .list,
ol.ui.list ol {
  counter-reset: ordered;
  margin-left: ;
  list-style-type: none;
}
ol.ui.list li,
.ui.ordered.list .list > .item,
.ui.ordered.list > .item {
  list-style-type: none;
  position: relative;
}
ol.ui.list li:before,
.ui.ordered.list .list > .item:before,
.ui.ordered.list > .item:before {
  position: absolute;
  top: auto;
  left: auto;
  user-select: none;
  pointer-events: none;
  margin-left: -;
  counter-increment: ;
  content: ;
  text-align: ;
  color: ;
  vertical-align: ;
  opacity: ;
}
ol.ui.inverted.list li:before,
.ui.ordered.inverted.list .list > .item:before,
.ui.ordered.inverted.list > .item:before {
  color: ;
}
.ui.ordered.list > .list > .item[data-value],
.ui.ordered.list > .item[data-value] {
  content: attr(data-value);
}
ol.ui.list li[value]:before {
  content: attr(value);
}
ol.ui.list ol,
.ui.ordered.list .list {
  margin-left: ;
}
ol.ui.list ol li:before,
.ui.ordered.list .list > .item:before {
  margin-left: ;
}
ol.ui.horizontal.list,
.ui.ordered.horizontal.list {
  margin-left: 0em;
}
ol.ui.horizontal.list li:before,
.ui.ordered.horizontal.list .list > .item:before,
.ui.ordered.horizontal.list > .item:before {
  position: static;
  margin: 0em  0em 0em;
}
.ui.divided.list > .item {
  border-top: ;
}
.ui.divided.list .list > .item {
  border-top: ;
}
.ui.divided.list .item .list > .item {
  border-top: ;
}
.ui.divided.list .list > .item:first-child,
.ui.divided.list > .item:first-child {
  border-top: none;
}
.ui.divided.list:not(.horizontal) .list > .item:first-child {
  border-top-width: ;
}
.ui.divided.bulleted.list:not(.horizontal),
.ui.divided.bulleted.list .list {
  margin-left: 0em;
  padding-left: 0em;
}
.ui.divided.bulleted.list > .item:not(.horizontal) {
  padding-left: ;
}
.ui.divided.ordered.list {
  margin-left: 0em;
}
.ui.divided.ordered.list .list > .item,
.ui.divided.ordered.list > .item {
  padding-left: ;
}
.ui.divided.ordered.list .item .list {
  margin-left: 0em;
  margin-right: 0em;
  padding-bottom: ;
}
.ui.divided.ordered.list .item .list > .item {
  padding-left: ;
}
.ui.divided.selection.list .list > .item,
.ui.divided.selection.list > .item {
  margin: 0em;
  border-radius: 0em;
}
.ui.divided.horizontal.list {
  margin-left: 0em;
}
.ui.divided.horizontal.list > .item {
  border-top: none;
  border-left: ;
  margin: 0em;
  padding-left: ;
  padding-right: ;
  line-height: ;
}
.ui.horizontal.divided.list > .item:first-child {
  border-left: none;
}
.ui.divided.inverted.list > .item,
.ui.divided.inverted.list > .list,
.ui.divided.inverted.horizontal.list > .item {
  border-color: ;
}
.ui.celled.list > .item,
.ui.celled.list > .list {
  border-top: ;
  padding-left: ;
  padding-right: ;
}
.ui.celled.list > .item:last-child {
  border-bottom: ;
}
.ui.celled.list > .item:first-child,
.ui.celled.list > .item:last-child {
  padding-top: ;
  padding-bottom: ;
}
.ui.celled.list .item .list > .item {
  border-width: 0px;
}
.ui.celled.list .list > .item:first-child {
  border-top-width: 0px;
}
.ui.celled.bulleted.list {
  margin-left: 0em;
}
.ui.celled.bulleted.list .list > .item,
.ui.celled.bulleted.list > .item {
  padding-left: ;
}
.ui.celled.bulleted.list .item .list {
  margin-left: -;
  margin-right: -;
  padding-bottom: ;
}
.ui.celled.ordered.list {
  margin-left: 0em;
}
.ui.celled.ordered.list .list > .item,
.ui.celled.ordered.list > .item {
  padding-left: ;
}
.ui.celled.ordered.list .item .list {
  margin-left: 0em;
  margin-right: 0em;
  padding-bottom: ;
}
.ui.celled.ordered.list .list > .item {
  padding-left: ;
}
.ui.horizontal.celled.list {
  margin-left: 0em;
}
.ui.horizontal.celled.list .list > .item,
.ui.horizontal.celled.list > .item {
  border-top: none;
  border-left: ;
  margin: 0em;
  padding-left: ;
  padding-right: ;
  line-height: ;
}
.ui.horizontal.celled.list .list > .item:last-child,
.ui.horizontal.celled.list > .item:last-child {
  border-bottom: none;
  border-right: ;
}
.ui.celled.inverted.list > .item,
.ui.celled.inverted.list > .list {
  border-color: ;
}
.ui.celled.inverted.horizontal.list .list > .item,
.ui.celled.inverted.horizontal.list > .item {
  border-color: ;
}
.ui.relaxed.list:not(.horizontal) > .item {
  padding-top: ;
  padding-bottom: ;
}
.ui.relaxed.list:not(.horizontal) .list > .item {
  padding-top: ;
  padding-bottom: ;
}
.ui.horizontal.relaxed.list > .item {
  padding-left: ;
  padding-right: ;
}
.ui[class*="very relaxed"].list:not(.horizontal) > .item {
  padding-top: ;
  padding-bottom: ;
}
.ui[class*="very relaxed"].list:not(.horizontal) .list > .item {
  padding-top: ;
  padding-bottom: ;
}
.ui.horizontal[class*="very relaxed"].list .list > .item,
.ui.horizontal[class*="very relaxed"].list > .item {
  padding-left: ;
  padding-right: ;
}
.ui.mini.list {
  font-size: ;
}
.ui.tiny.list {
  font-size: ;
}
.ui.small.list {
  font-size: ;
}
.ui.list {
  font-size: ;
}
.ui.large.list {
  font-size: ;
}
.ui.big.list {
  font-size: ;
}
.ui.huge.list {
  font-size: ;
}
.ui.massive.list {
  font-size: ;
}
.ui.mini.horizontal.list .list > .item,
.ui.mini.horizontal.list > .item {
  font-size: ;
}
.ui.tiny.horizontal.list .list > .item,
.ui.tiny.horizontal.list > .item {
  font-size: ;
}
.ui.small.horizontal.list .list > .item,
.ui.small.horizontal.list > .item {
  font-size: ;
}
.ui.horizontal.list .list > .item,
.ui.horizontal.list > .item {
  font-size: ;
}
.ui.large.horizontal.list .list > .item,
.ui.large.horizontal.list > .item {
  font-size: ;
}
.ui.big.horizontal.list .list > .item,
.ui.big.horizontal.list > .item {
  font-size: ;
}
.ui.huge.horizontal.list .list > .item,
.ui.huge.horizontal.list > .item {
  font-size: ;
}
.ui.massive.horizontal.list .list > .item,
.ui.massive.horizontal.list > .item {
  font-size: ;
}
