<h2>Short Stories</h2>

<table class="ui celled striped table">
    <colgroup>
        <col width="50%" />
        <col width="50%" />
    </colgroup>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        {%- assign short_stories = site.data.short-stories | sort_natural: "author" -%}
        {%- for short_story in short_stories -%}
        <tr>
            {%- if short_story.link -%}
            <td><a href="{{ short_story.link }}">{{ short_story.title }}</a></td>
            {%- else -%}
            <td>{{ short_story.title }}</td>
            {%- endif -%}
            <td>{{ short_story.author }}</td>
        </tr>
        {%- endfor -%}
    </tbody>
</table>
