<h2>
    <a name="zines-i-have-already-read">Zines I have already read</a>
</h2>

<table class="ui celled striped table">
    <colgroup>
        <col width="50%" />
        <col width="50%" />
    </colgroup>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>The Mecha Genesis &mdash; Volume One</td>
            <td>Aleksander Sakowski</td>
        </tr>
        <tr>
            <td>LIB-LIFE Stories</td>
            <td>Auckland Libraries</td>
        </tr>
        <tr>
            <td>Inktober 2016</td>
            <td>Simon Fletcher</td>
        </tr>
        <tr>
            <td>END GAME</td>
            <td>Simon Fletcher</td>
        </tr>
        <tr>
            <td>SHLIPP #2 Comics</td>
            <td>Willi Saunderziz</td>
        </tr>
    </tbody>
</table>
