<div id="header">
  <div id="logo">
    <ul>
      <li>Kinow</li>
    </ul>
  </div>
  <div id="menu">
    <ul>
      <li>Me</li>
      <li>Blog</li>
      <li>Portfolio</li>
    </ul>
  </div>
  <div id="social-media">
    <ul>
      <li>
        <img width="32px" src="{{ '/assets/icons/instagram.png' | relative_url }}" />
      </li>
      <li>
        <img width="32px" src="{{ '/assets/icons/twitter.png' | relative_url }}" />
      </li>
      <li>
        <img width="32px" src="{{ '/assets/icons/github.png' | relative_url }}" />
      </li>
    </ul>
  </div>
</div>
