<div id="header">
  <div id="logo">
    <ul>
      <li>Kinow</li>
    </ul>
  </div>
  <div id="menu">
    <ul>
      <li>Me</li>
      <li>Blog</li>
      <li>Portfolio</li>
    </ul>
  </div>
  <div id="social-media">
    <ul>
      <li>
        <a href="https://instagram.com/brunokinoshita/" title="Instagram link">
          <img
            src="{{ '/assets/icons/instagram.png' | relative_url }}"
            width="32px"
            alt="Instagram Icon"
          />
        </a>
      </li>
      <li>
        <a href="https://twitter.com/kinow/" title="Twitter link">
          <img
            src="{{ '/assets/icons/twitter.png' | relative_url }}"
            width="32px"
            alt="Twitter Icon"
          />
        </a>
      </li>
      <li>
        <a href="https://github.com/kinow/" title="GitHub link">
          <img
            src="{{ '/assets/icons/github.png' | relative_url }}"
            width="32px"
            alt="GitHub Icon"
          />
        </a>
      </li>
    </ul>
  </div>
</div>
