<div class="menu">
  <ul class="menu">
    <li class="item">
      <h1 id="kinow">KINOW</h1>
    </li>
    <li class="item">
      <a href="/" class="{% if page.url == '/' %}current{% endif %}">About</a>
    </li>
    <li class="item">
      <a href="/blog/" class="{% if page.categories contains 'blog' or page.url == '/blog/' or page.url == '/blog/index.html'%}current{% endif %}">Blog</a>
    </li>
    <li class="item">
      <a href="/portfolio/" class="{% if page.url contains 'portfolio' or page.url == '/portfolio/' or page.url == '/portfolio/index.html' %}current{% endif %}">Portfolio</a>
    </li>
  </ul>
</div>
