<div class="post">
  <h3 class="post-header">
    <a class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
  </h3>
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {%- assign title_only = include.title_only | default: "false" -%}
  {%- if title_only == "false" -%}
  <span class="post-meta">{{ post.date | date: date_format }}{% include stardate.html date=post.date %}</span>
  {%- if site.show_excerpts -%}
  {{ post.excerpt }}
  {%- endif -%}
  {%- else -%}
  <br />
  {%- endif -%}
</div>
