<script src="https://code.jquery.com/jquery-3.4.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script type="application/javascript">
    // namespace
    window.semantic = {
        handler: {}
    };
    var
        $menu                = $('#toc');
    // ready event
    semantic.ready = function () {
        // main sidebar
        $menu
            .sidebar({
                dimPage: true,
                transition: 'overlay',
                mobileTransition: 'uncover'
            })
        ;
        // launch buttons
        $menu
            .sidebar('attach events', '.launch.button, .view-ui, .launch.item')
        ;
    };
    // attach ready event
    $(document)
        .ready(semantic.ready)
    ;
</script>
