{%- comment -%}
Adapted from https://github.com/zeroturnaround/stardate-converter/blob/master/index.js
{%- endcomment -%}
{%- if include.date -%}
{%- assign star_trek_epoch          = 2323 -%}
{%- assign year                     = include.date | date: "%Y" | plus: 0 -%}
{%- assign month                    = include.date | date: "%m" | plus: 0 -%}
{%- assign day                      = include.date | date: "%-d" | plus: 0 -%}
{%- assign days_in_year             = 365 -%}

{%- assign year_mod_four            = year | modulo: 4 -%}
{%- assign year_mod_one_hundred     = year | modulo: 100 -%}
{%- assign year_mod_four_hundreds   = year | modulo: 400 -%}

{%- comment -%}
    leap year
{%- endcomment -%}
{%- if year_mod_four == 0 -%}
    {%- if year_mod_one_hundred == 0 -%}
        {%- if year_mod_four_hundreds == 0 -%}
            {%- assign days_in_year = 366 -%}
        {%- endif -%}
    {%- else -%}
        {%- assign days_in_year = 366 -%}
    {%- endif -%}
{%- endif -%}

{%- comment -%}
day of year, which is not | date: "%j", also not the value from https://www.miniwebtool.com/day-of-the-year-calculator/?date=2017-09-24
strange...
{%- endcomment -%}
{%- assign day_values = "0, 31, 59, 90, 120, 151, 181, 212, 243, 273, 304, 334" | split: ", " -%}
{%- assign day_of_year = day_values[month] | plus: day | minus: 1 -%}
{%if days_in_year == 366 -%}
    {%- increment day_of_year -%}
{%- endif -%}

{%- assign year_difference  = year | minus: star_trek_epoch -%}
{%- assign star_year        = 1000 | times: year_difference -%}
{%- assign star_day         = 1000.0 | divided_by: days_in_year | times: day_of_year -%}
{%- assign star_date        = star_year | plus: star_day | times: 100.0 | divided_by: 100.0 | round: 2 -%}
<span>&mdash; star date: {{ star_date }}.</span>
{%- endif -%}
