div#art {
  .images {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-between;
    box-sizing: content-box;
    position: relative;
    a > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      max-width: 100%;
      vertical-align: middle;
      min-height: 100%;
    }
  }
}
