@import "variables";

.blog {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 1rem 0;
  .post {
    margin: 0 0;
    clear: both;
    .post-header {
      margin: 0;
    }
    .post-content {
      margin-bottom: $font-size;
    }
    div.tags {
      font-size: 0.8em;
    }
    p.more-link {
      margin: 0;
      padding: 0;
    }
    img {
      &.text-image {
        max-width: 400px;
        width: 100%;
      }
      &.float-left {
        float: left
      }
    }
    a {
      &:hover {
        &::after {
          content: ' ◁';
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .blog {
    .post {
      img {
        &.text-image {
          width: 100%;
        }
        &.float-left {
          float: none;
        }
      }
    }
  }
}
