.blog {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  .post {
    margin: 22px 0;
    img {
      &.text-image {
        max-width: 400px;
        width: 100%;
      }
      &.float-left {
        float: left
      }
    }
  }
}

@media (max-width: 1100px) {
  .blog {
    .post {
      img {
        &.text-image {
          width: 100%;
        }
        &.float-left {
          float: none;
        }
      }
    }
  }
}
