@mixin sans-serif {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

@mixin serif {
  font-family: Georgia, Times New Roman, Times, serif;
}

@mixin monospace {
  font-family: monospace, serif;
}

@mixin no-selection {
  -ms-user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select:none;
}

@mixin default-cursor {
  cursor: default;
}

figure {
  display: inline;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

img.left-aligned {
  float: left;
  margin: 0 1em 0 0;
}
img.right-aligned {
  float: right;
  margin: 0 0 0 1em;
}

img.center-aligned {
  float: none;
  clear: both;
  margin: auto auto;
}

.hidden {
  display: none;
}

.fluid {
  width: 100%;
  margin: auto;
}
