figure {
  display: inline;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

img.left-aligned {
  float: left;
  margin: 0 1em 0 0;
}
img.right-aligned {
  float: right;
  margin: 0 0 0 1em;
}

.hidden {
  display: none;
}

.fluid {
  width: 100%;
  margin: auto;
}
