html, body {
  color: rgb(52, 58, 64);
}

@mixin font-sans-serif {
  font-family: Franklin,arial,sans-serif;
}

@mixin font-serif {
  font-family: georgia, Times New Roman, serif;
}

// header

#header {
  @include font-sans-serif;
  padding: 24px 12px 12px 12px;

  display: flex;
  flex-direction: row;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      display: inline;
    }
  }

  @mixin flex-child {
    display: flex;
    flex-basis: content;
    justify-content: left;
    align-items: center;
  }

  #logo {
    @include flex-child;
    flex: 1;
    order: 1;
  }
  #menu {
    @include flex-child;
    flex: 2;
    order: 2;
    justify-content: center;
    ul {
      display: flex;
      li:first-child {
        border-right: 2px solid #dedede;
        padding: 0 4px 0 0;
      }
      li {
        padding: 0 4px;
        a {
          text-decoration: none;
          padding: 4px 12px;
          text-transform: uppercase;
          color: #6d6d6d;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      li:last-child {
        border-left: 2px solid #dedede;
        padding: 0 0 0 4px;
      }
    }
  }
  #social-media {
    @include flex-child;
    flex: 1;
    order: 3;
    justify-content: right;
    a {
      text-decoration: none;
    }
  }
}

// content
#content {
  padding: 0 12px 24px 12px;
  p {
    @include font-serif;
    font-size: 20px;
    line-height: 35px;
  }
  ul.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0 12px 0 0;
      display: inline;
      a {
        @include font-sans-serif;
        text-decoration: underline;
        text-transform: uppercase;
        color: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

// about

#about {
  display: flex;
  flex-direction: row;
  border: 1px solid #6d6d6d;
  text-align: justify;
  #figurinha-da-copa {
    max-width: 300px;
    img {
      width: 100%;
    }
  }
  #bio {
    flex-grow: 1;
    flex-direction: column;
    border-left: 1px solid #6d6d6d;
    padding: 0 24px;
    display: flex;
    a {
      color: #6d6d6d;
      text-decoration: none;
    }
    #bio-top {
      order: 1;
    }
    #bio-bottom {
      order: 2;
      padding: 24px 0;
    }
  }
}
