@charset "utf-8";
@import "variables";
@import "syntax";
@import "menu";
@import "art";
@import "post";
@import "blog";
@import "helpers";

/**
 * Resetting several styles.
 */

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: $font-size;
  color: rgba(0, 0, 0, 0.87);
}

p {
  font-size: $font-size;
  line-height: $line-height;
  margin: $font-size 0;
}

ul {
  padding: 0;
  margin: 0 0 $font-size 0;
}

ul li {
  font-size: $font-size;
  line-height: $line-height;
}

a {
  color: $red;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 $font-size 0;
}

/**
 * Site wrapper, surrounding sidebar and content.
 */
#wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex: 1 1 0;
}

/**
 * Site sidebar.
 */
#sidebar {
  height: 100vh;
  background-color: $black;
  width: 250px;
  position: fixed;
}

/**
 * Site content.
 */
#content {
  max-width: 900px;
  padding: 1rem;
  margin-left: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

/**
 * A page article.
 */
.article {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  margin-left: 250px !important;
}

#content, .article {
  .page-heading {
    margin: 0 0 $font-size 0;
  }
}

/**
 * A note, added to both pages and posts.
 */
.note {
  font-style: italic;
  color: $gray !important;
  margin: 0.2em 0;
  p {
    padding: 0;
    margin: 0;
  }
}

a.post-link {
  color: $red !important;
}

.post-meta {
  font-size: 0.8em;
  color: $gray;
}

/* Remove Fixed Sidebar /  Show Top Bar */
@media only screen and (max-width: 799px) {
  #mobile-menu {
    display: block;
    background-color: $black;
  }
  #sidebar {
    display: none;
  }
  #content {
    max-width: unset;
    margin-left: unset;
  }
  img {
    width: 100% !important;
    height: auto !important;
  }
}

/* Hide Top Bar */
@media only screen and (min-width: 800px) {
  #mobile-menu {
    display: none;
  }
}
