@charset "utf-8";
@import "variables";
@import "syntax";
@import "menu";
@import "art";
@import "post";

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
}

p {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 14px 0;
}

ul li {
  font-size: 14px;
  line-height: 20px;
}

a {
  color: $red;
  text-decoration: none;
}

#wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex: 1 1 0;
}

#sidebar {
  height: 100vh;
  background-color: $black;
  width: 250px;
  position: fixed;
}

#content {
  padding: 0 1rem;
  margin-left: 250px;
}

.full.height .toc {
  position: fixed;
  z-index: 1;
  background-color: black !important;
  width: 250px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 100vh;
}

.full.height .article {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  margin-left: 250px !important;
}

/**
 * A note, added to both pages and posts.
 */
.note {
  font-style: italic;
  color: $gray !important;
  margin: 0.5em 0;
}

a.post-link {
  color: $red !important;
}

.post-meta {
  font-size: 0.8em;
  color: $gray;
}

/* Hide Top Bar */
@media only screen and (min-width: 800px) {
  .fixed.main.menu {
    display: none;
  }
}

/* Remove Fixed Sidebar /  Show Top Bar */
@media only screen and (max-width: 799px) {
  .full.height .toc {
    display: none
  }
  .full.height .article {
    margin-left: 0 !important;
    padding-top: 5em !important;
  }
}
