@import "variables";

ul.menu {
  border-radius: 0;
  border-width: 0 1px 0 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
  width: inherit;
  will-change: transform;
  max-height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align: right;
  list-style: none;

  li.item {
    display: block;
    font-size: 1.6rem;
    list-style-type: none;
    padding: .6em 1.4em;
    color: $white;
    cursor: none;
    position: relative;

    a {
      color: inherit;
      cursor: inherit;
    }

    a:hover {
      color: inherit;
      cursor: inherit;
    }
  }

  li.item:hover {
    background-color: rgba(255, 255, 255, 0.08);
    color: $red;
    cursor: pointer;
  }

  li.item:after {
    background: rgba(255, 255, 255, .08);
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    position: absolute;
  }

  #logo {
    fill: $red;
  }
}
