@import "variables";

/**
 * Post class and sub-styles.
 */
.post {
  clear: both;
  .post-header {
    margin: 0;
  }
  .post-content {
    margin-bottom: $font-size;
  }
  div.tags {
    font-size: 0.8em;
  }
  p.more-link {
    margin: 0;
    padding: 0;
  }
}

.post:not(:first-child) {
  .post-header {
    margin: $font-size 0 0 0;
  }
}
