/**
 * Post class and sub-styles.
 */
.post {
  figure {
    display: inline;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    img.left-aligned {
      float: left;
      margin: 0 1em 0 0;
    }
    img.right-aligned {
      float: right;
      margin: 0 0 0 1em;
    }
  }
  ul {
    padding: 0;
    margin: 1em 0 1em 1em;
    li {
      padding: 0;
      margin: 0;
    }
  }
}
