@import "variables";

/**
 * Post class and sub-styles.
 */
.post {
  clear: both;
  .post-header {
    margin: 0;
  }
  .post-content {
    margin-bottom: $font-size;
  }
  ul {
    padding: 0;
    margin: 1em 0 1em 1em;
    li {
      padding: 0;
      margin: 0;
      list-style-position: inside;
    }
  }

  div.tags {
    a.label {
      font-size: 0.8em;
    }

    a.label:not(:last-child) {
      margin: 0.5rem 1rem 0 0;
    }
  }
}

.post:not(:first-child) {
  .post-header {
    margin: $font-size 0 0 0;
  }
}
