@import "variables";

:root {
  --color-text: #{$light-black};
  --color-black: #{$black};
  --color-white: #{$white};
  --color-light-black: #{$light-black};
  --color-light-gray: #{$light-gray};
}

html {
  font-family: $serif;
  font-size: $font-size;
  color: var(--color-text);

  body {
    overflow-x: hidden;
  }

  p, ul, img {
    margin: 0 0 1rem 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
    font-family: $sans-serif;
  }

  figure, pre {
    margin: 1rem 0;
  }
}
