@import "variables";

html {
  --header-background-color: #{$yellow};
  --menu-text-color: #{$light-black};
  --background-color: #{$vanilla};
  --foreground-color: #{$light-black};
  --midtone-color: #{$light-gray};
  --link-color: #{$red};
  --img-filter: none;
}

@media (prefers-color-scheme: dark) {
  html {
    --header-background-color: #{$yellow};
    --background-color: #{$light-black};
    --foreground-color: #{$white};
    --midtone-color: #{$vanilla};
    --link-color: #{$light-red};
    // This value was the closest I found to mimic the light-gray. It would
    // be interesting to know how to calculate the value of the filter to
    // match any color.
    --img-filter: invert(0.865);
  }
}

html {
  font-family: $serif;
  font-size: $font-size;
  color: var(--foreground-color);
  background-color: var(--background-color);

  body {
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
  }

  p, ul, img {
    margin: 0 0 1rem 0;
    line-height: $line-height;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
    font-family: $sans-serif;
  }

  figure, pre {
    margin: 1rem 0;
  }
}
