@import "variables";

html {
  font-family: $serif;
  font-size: $font-size;
  color: $black;
}

p, ul {
  margin: 0 0 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  font-family: $sans-serif;
}

figure {
  margin: 1rem 0;
}
