@import "variables";

nav#nav {
  min-width: 400px;
  overflow: hidden;
  display: block;
  ul {
    font-family: $sans-serif;
    list-style: none;
    margin: 0.25rem 0 0 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      &:first-of-type {
        margin: 0;
      }
      &:last-of-type {
        margin: 0;
      }
      a, a:visited, a:active {
        display: inline-block;
        position: relative;
        padding: 0.5rem 0.5rem;
        color: $white;
        text-decoration: none;

        &.active {
          background-color: $white;
          color: $black;
        }

        &:hover {
          &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-bottom: 0.5rem solid $white;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
          }
        }
      }
    }
    li > span.kinow {
      display: inline-block;
      padding: 1rem 1rem;
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
      cursor: default;
      font-size: 1rem;
    }
  }
}
