@import "variables";

nav#nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      &:first-of-type {
        margin: 0;
      }
      &:last-of-type {
        margin: 0;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
      }

      a, a:visited, a:active {
        display: inline-block;
        padding: 1rem 1rem;
        color: $white;
        text-decoration: none;
      }
    }
  }
}
