/* colors */
$black: #050708;
$light-black: rgb(34, 34, 34);
$white: white;
$light-gray: #666666;
$red: rgb(210, 39, 55);

/* typography */
$sans-serif: Ubuntu, 'Trebuchet MS', Verdana, sans-serif;
$serif: "Source Serif Pro", "Iowan Old Style", "Apple Garamond", "Palatino Linotype", "georgia", "Times New Roman", "Droid Serif", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$monospace: "Noto Sans Mono", "Ubuntu Mono", "Courier New", monospace;
$font-size: 1.20rem;
$font-size2: 29px/1.5;
