/* colors */
$black: #050708;
$light-black: rgb(34, 34, 34);
$white: white;
$light-gray: #666666;
$red: rgb(223, 47, 12);
$light-red: rgb(255, 114, 79);
$vanilla: #fffefa;
$yellow: #f7b303;

/* typography */
$sans-serif: Ubuntu, 'Trebuchet MS', Verdana, sans-serif;
$serif: "Source Serif Pro", "Iowan Old Style", "Apple Garamond", "Palatino Linotype", "georgia", "Times New Roman", "Droid Serif", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$monospace: "Noto Sans Mono", "Ubuntu Mono", "Courier New", monospace;
$font-size: 1rem;
$font-size2: 29px/1.5;
$line-height: 1.6;
