@media print {
  * {
    font-size: 1rem !important;
  }

  .content > * {
    grid-column: feature !important;
  }

  header {
    display: none !important;
  }

  h1[aria-hidden="true"] {
    display: block !important;
  }

  search {
    display: none !important;
  }

  footer {
    display: none !important;
  }
}
