@import multiple '../../theme.config';
.ui.sticky {
  position: static;
  transition: ;
  z-index: ;
}
.ui.sticky.bound {
  position: absolute;
  left: auto;
  right: auto;
}
.ui.sticky.fixed {
  position: fixed;
  left: auto;
  right: auto;
}
.ui.sticky.bound.top,
.ui.sticky.fixed.top {
  top: 0px;
  bottom: auto;
}
.ui.sticky.bound.bottom,
.ui.sticky.fixed.bottom {
  top: auto;
  bottom: 0px;
}
.ui.native.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}
