figure { display: inline; margin: 0; padding: 0; height: auto; width: auto; }

img.left-aligned { float: left; margin: 0 1em 0 0; }

img.right-aligned { float: right; margin: 0 0 0 1em; }

.hidden { display: none; }

.fluid { width: 100%; margin: auto; }

div.highlighter-rouge, figure.highlight { position: relative; margin-bottom: 1em; background: #263238; color: #eeffff; font-family: Monaco, Consolas, "Lucida Console", monospace; font-size: 1em; line-height: 1.8; border-radius: 4px; }
div.highlighter-rouge > pre, div.highlighter-rouge pre.highlight, figure.highlight > pre, figure.highlight pre.highlight { margin: 0; padding: 1em; }

.highlight table { margin-bottom: 0; font-size: 1em; border: 0; }
.highlight table td { padding: 0; width: calc(100% - 1em); border: 0; /* line numbers*/ /* code */ }
.highlight table td.gutter, .highlight table td.rouge-gutter { padding-right: 1em; width: 1em; color: #b2ccd6; border-right: 1px solid #b2ccd6; text-align: right; }
.highlight table td.code, .highlight table td.rouge-code { padding-left: 1em; }
.highlight table pre { margin: 0; }

.highlight pre { width: 100%; overflow: scroll; }

.highlight .hll { background-color: #eeffff; }

.highlight .c { /* Comment */ color: #b2ccd6; }
.highlight .err { /* Error */ color: #f07178; }
.highlight .k { /* Keyword */ color: #c792ea; }
.highlight .l { /* Literal */ color: #f78c6c; }
.highlight .n { /* Name */ color: #eeffff; }
.highlight .o { /* Operator */ color: #89ddff; }
.highlight .p { /* Punctuation */ color: #eeffff; }
.highlight .cm { /* Comment.Multiline */ color: #b2ccd6; }
.highlight .cp { /* Comment.Preproc */ color: #b2ccd6; }
.highlight .c1 { /* Comment.Single */ color: #b2ccd6; }
.highlight .cs { /* Comment.Special */ color: #b2ccd6; }
.highlight .gd { /* Generic.Deleted */ color: #f07178; }
.highlight .ge { /* Generic.Emph */ font-style: italic; }
.highlight .gh { /* Generic.Heading */ color: #eeffff; font-weight: bold; }
.highlight .gi { /* Generic.Inserted */ color: #c3e88d; }
.highlight .gp { /* Generic.Prompt */ color: #b2ccd6; font-weight: bold; }
.highlight .gs { /* Generic.Strong */ font-weight: bold; }
.highlight .gu { /* Generic.Subheading */ color: #89ddff; font-weight: bold; }
.highlight .kc { /* Keyword.Constant */ color: #c792ea; }
.highlight .kd { /* Keyword.Declaration */ color: #c792ea; }
.highlight .kn { /* Keyword.Namespace */ color: #89ddff; }
.highlight .kp { /* Keyword.Pseudo */ color: #c792ea; }
.highlight .kr { /* Keyword.Reserved */ color: #c792ea; }
.highlight .kt { /* Keyword.Type */ color: #ffcb6b; }
.highlight .ld { /* Literal.Date */ color: #c3e88d; }
.highlight .m { /* Literal.Number */ color: #f78c6c; }
.highlight .s { /* Literal.String */ color: #c3e88d; }
.highlight .na { /* Name.Attribute */ color: #82aaff; }
.highlight .nb { /* Name.Builtin */ color: #eeffff; }
.highlight .nc { /* Name.Class */ color: #ffcb6b; }
.highlight .no { /* Name.Constant */ color: #f07178; }
.highlight .nd { /* Name.Decorator */ color: #89ddff; }
.highlight .ni { /* Name.Entity */ color: #eeffff; }
.highlight .ne { /* Name.Exception */ color: #f07178; }
.highlight .nf { /* Name.Function */ color: #82aaff; }
.highlight .nl { /* Name.Label */ color: #eeffff; }
.highlight .nn { /* Name.Namespace */ color: #ffcb6b; }
.highlight .nx { /* Name.Other */ color: #82aaff; }
.highlight .py { /* Name.Property */ color: #eeffff; }
.highlight .nt { /* Name.Tag */ color: #89ddff; }
.highlight .nv { /* Name.Variable */ color: #f07178; }
.highlight .ow { /* Operator.Word */ color: #89ddff; }
.highlight .w { /* Text.Whitespace */ color: #eeffff; }
.highlight .mf { /* Literal.Number.Float */ color: #f78c6c; }
.highlight .mh { /* Literal.Number.Hex */ color: #f78c6c; }
.highlight .mi { /* Literal.Number.Integer */ color: #f78c6c; }
.highlight .mo { /* Literal.Number.Oct */ color: #f78c6c; }
.highlight .sb { /* Literal.String.Backtick */ color: #c3e88d; }
.highlight .sc { /* Literal.String.Char */ color: #eeffff; }
.highlight .sd { /* Literal.String.Doc */ color: #b2ccd6; }
.highlight .s2 { /* Literal.String.Double */ color: #c3e88d; }
.highlight .se { /* Literal.String.Escape */ color: #f78c6c; }
.highlight .sh { /* Literal.String.Heredoc */ color: #c3e88d; }
.highlight .si { /* Literal.String.Interpol */ color: #f78c6c; }
.highlight .sx { /* Literal.String.Other */ color: #c3e88d; }
.highlight .sr { /* Literal.String.Regex */ color: #c3e88d; }
.highlight .s1 { /* Literal.String.Single */ color: #c3e88d; }
.highlight .ss { /* Literal.String.Symbol */ color: #c3e88d; }
.highlight .bp { /* Name.Builtin.Pseudo */ color: #eeffff; }
.highlight .vc { /* Name.Variable.Class */ color: #f07178; }
.highlight .vg { /* Name.Variable.Global */ color: #f07178; }
.highlight .vi { /* Name.Variable.Instance */ color: #f07178; }
.highlight .il { /* Literal.Number.Integer.Long */ color: #f78c6c; }

.gist th, .gist td { border-bottom: 0; }

figure { display: inline; margin: 0; padding: 0; height: auto; width: auto; }

img.left-aligned { float: left; margin: 0 1em 0 0; }

img.right-aligned { float: right; margin: 0 0 0 1em; }

.hidden { display: none; }

.fluid { width: 100%; margin: auto; }

div.menu ul.menu { border-radius: 0; border-width: 0; box-shadow: none; margin: 0; padding: 0; width: inherit; will-change: transform; max-height: 100vh; overflow: auto; -webkit-overflow-scrolling: touch; text-align: right; list-style: none; z-index: 2; background-color: #000000; }
div.menu ul.menu li.item { display: block; list-style-type: none; margin: 0; padding: 0; position: relative; }
div.menu ul.menu li.item a { color: #ffffff; cursor: pointer; display: block; font-family: monospace, serif; padding: .5rem 1rem; margin: 0; }
div.menu ul.menu li.item a.current { color: #d22737; }
div.menu ul.menu li.item a:hover { background-color: rgba(255, 255, 255, 0.08); }
div.menu ul.menu li.item h1 { color: #ffffff; padding: 1rem; }
div.menu ul.menu li.item ul { margin: 0; padding: 0; }
div.menu ul.menu li.item ul li.item { display: block; list-style-type: none; margin: 0; padding: 0; position: relative; }
div.menu ul.menu li.item ul li.item a { font-size: 1.2rem; padding: .3em 1.4em; }
div.menu ul.menu li.item ul li.item:after { background: rgba(255, 255, 255, 0.08); content: ''; top: 0; left: 0; width: 100%; height: 1px; position: absolute; }
div.menu ul.menu #logo { fill: #d22737; }
div.menu #menu-bottom { bottom: 0; left: 0; width: 100%; position: absolute; text-align: right; z-index: 1; }
div.menu #menu-bottom p#feed-subscribe { padding: 0 1.4em 0 0; }
div.menu #menu-bottom p#feed-subscribe svg#feed-icon { width: 32px; height: 32px; }

div#mobile-menu div.menu div#menu-bottom { display: none; }

div#art .images { display: flex; flex-wrap: wrap; overflow-x: auto; overflow-y: hidden; justify-content: space-between; box-sizing: content-box; position: relative; }
div#art .images a > div { display: flex; flex-direction: row; justify-content: space-between; position: relative; max-width: 100%; vertical-align: middle; min-height: 100%; }

/** Post class and sub-styles. */
.post { clear: both; }
.post .post-header { margin: 0; }
.post .post-content { margin-bottom: 22px; }
.post div.tags { font-size: 0.8em; }
.post p.more-link { margin: 0; padding: 0; }

.post:not(:first-child) .post-header { margin: 22px 0 0 0; }

.blog { display: flex; flex-direction: column; flex: 1 1 auto; }
.blog .post img.text-image { max-width: 400px; width: 100%; }
.blog .post img.float-left { float: left; }

@media (max-width: 1100px) { .blog .post img.text-image { width: 100%; }
  .blog .post img.float-left { float: none; } }
/** Resetting several styles. */
html { padding: 0; margin: 0; }

body { padding: 0; margin: 0; font-size: 22px; color: rgba(0, 0, 0, 0.87); background-color: white; }

p, li, a, span { font-family: monospace, serif; }

h1, h2, h3, h4, h5, h6 { font-family: monospace, serif; }

p { font-size: 22px; line-height: 32px; }

ul { padding: 0; margin: 1em 0 1em 1em; }

ul ul { padding: 0; margin: 0.2em 0 0.2em 1em; }

li { padding: 0; margin: 0; list-style-position: inside; }

a { color: #d22737; text-decoration: none; }

pre { overflow-x: auto; }

h1 { font-size: 2em; }

h1, h2, h3, h4, h5 { margin: 0; padding: 0; /** This is from the landing page of blog, with pagination. */ /** This is from the post page. */ /** This is from the page title. */ }
h1.post-header, h2.post-header, h3.post-header, h4.post-header, h5.post-header { margin: 22px 0; }

blockquote { color: rgba(0, 0, 0, 0.8); font-style: italic; }

/** Site wrapper, surrounding sidebar and content. */
#wrapper { display: flex; flex-wrap: nowrap; flex-direction: row; flex: 1 1 0; }

/** Site sidebar. */
#sidebar { height: 100vh; background-color: #000000; width: 200px; position: fixed; }

/** Site content. */
#content { max-width: 800px; padding: 1rem; margin-left: 200px; overflow-x: hidden; overflow-y: auto; }

/** A page article. */
.article { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; min-width: 0; margin-left: 250px !important; }

/** A note, added to both pages and posts. */
.note { font-style: italic; color: #696969 !important; margin: 0 0 22px 0; }
.note p { padding: 0; margin: 0; }

a.post-link { color: #d22737 !important; }

.post-meta { font-size: 0.8em; color: #696969; }

/* Remove Fixed Sidebar /  Show Top Bar */
@media only screen and (max-width: 799px) { #mobile-menu { display: block; background-color: #000000; }
  #sidebar { display: none; }
  #content { max-width: unset; margin-left: unset; }
  img { width: 100% !important; height: auto !important; } }
/* Hide Top Bar */
@media only screen and (min-width: 800px) { #mobile-menu { display: none; } }
table { border-collapse: collapse; }

table, th, td { border: 1px solid #999999; padding: 14px 7px; }

/* glue: 0.13 hash: 87e9ce1259 */
.sprite-thumbs-thumb-simone, .sprite-thumbs-thumb-o-corvo, .sprite-thumbs-thumb-stink-bug-smaller, .sprite-thumbs-thumb-royal-spoonbill, .sprite-thumbs-thumb-plane1, .sprite-thumbs-thumb-zatoichi-crying-1, .sprite-thumbs-thumb-galpao-bras, .sprite-thumbs-thumb-woman-looking-01, .sprite-thumbs-thumb-terra_celta_s_vocal_elcio_by_kinow-dau42sh, .sprite-thumbs-thumb-southern-royal-albatross, .sprite-thumbs-thumb-rocky, .sprite-thumbs-thumb-old-hands, .sprite-thumbs-thumb-obachan, .sprite-thumbs-thumb-kelvin-diesel-engine, .sprite-thumbs-thumb-jean-luc-picard-original-size, .sprite-thumbs-thumb-green-skull-full, .sprite-thumbs-thumb-domestic-violence, .sprite-thumbs-thumb-doggo-white, .sprite-thumbs-thumb-dog, .sprite-thumbs-thumb-daienny-lima-compare, .sprite-thumbs-thumb-cave, .sprite-thumbs-thumb-alonzo_and_lambda_by_kinow-d5tqvau { background-image: url("/assets/pages/art/thumbs.png"); background-repeat: no-repeat; }

.sprite-thumbs-thumb-simone { background-position: 0 0; width: 322px; height: 200px; }

.sprite-thumbs-thumb-o-corvo { background-position: -322px 0; width: 272px; height: 200px; }

.sprite-thumbs-thumb-stink-bug-smaller { background-position: 0 -200px; width: 269px; height: 200px; }

.sprite-thumbs-thumb-royal-spoonbill { background-position: -269px -200px; width: 267px; height: 200px; }

.sprite-thumbs-thumb-plane1 { background-position: -594px 0; width: 262px; height: 200px; }

.sprite-thumbs-thumb-zatoichi-crying-1 { background-position: -594px -200px; width: 248px; height: 200px; }

.sprite-thumbs-thumb-galpao-bras { background-position: 0 -400px; width: 211px; height: 200px; }

.sprite-thumbs-thumb-woman-looking-01 { background-position: -211px -400px; width: 121px; height: 200px; }

.sprite-thumbs-thumb-terra_celta_s_vocal_elcio_by_kinow-dau42sh { background-position: -332px -400px; width: 160px; height: 200px; }

.sprite-thumbs-thumb-southern-royal-albatross { background-position: -492px -400px; width: 200px; height: 200px; }

.sprite-thumbs-thumb-rocky { background-position: 0 -600px; width: 200px; height: 200px; }

.sprite-thumbs-thumb-old-hands { background-position: -692px -400px; width: 142px; height: 200px; }

.sprite-thumbs-thumb-obachan { background-position: -200px -600px; width: 179px; height: 200px; }

.sprite-thumbs-thumb-kelvin-diesel-engine { background-position: -379px -600px; width: 200px; height: 200px; }

.sprite-thumbs-thumb-jean-luc-picard-original-size { background-position: -579px -600px; width: 195px; height: 200px; }

.sprite-thumbs-thumb-green-skull-full { background-position: -856px 0; width: 150px; height: 200px; }

.sprite-thumbs-thumb-domestic-violence { background-position: 0 -800px; width: 181px; height: 200px; }

.sprite-thumbs-thumb-doggo-white { background-position: -181px -800px; width: 200px; height: 200px; }

.sprite-thumbs-thumb-dog { background-position: -856px -200px; width: 134px; height: 200px; }

.sprite-thumbs-thumb-daienny-lima-compare { background-position: -856px -400px; width: 120px; height: 200px; }

.sprite-thumbs-thumb-cave { background-position: -381px -800px; width: 165px; height: 200px; }

.sprite-thumbs-thumb-alonzo_and_lambda_by_kinow-d5tqvau { background-position: -546px -800px; width: 159px; height: 200px; }

@media screen and (-webkit-min-device-pixel-ratio: 1), screen and (min--moz-device-pixel-ratio: 1), screen and (-o-min-device-pixel-ratio: 100 / 100), screen and (min-device-pixel-ratio: 1), screen and (min-resolution: 1dppx) { .sprite-thumbs-thumb-simone, .sprite-thumbs-thumb-o-corvo, .sprite-thumbs-thumb-stink-bug-smaller, .sprite-thumbs-thumb-royal-spoonbill, .sprite-thumbs-thumb-plane1, .sprite-thumbs-thumb-zatoichi-crying-1, .sprite-thumbs-thumb-galpao-bras, .sprite-thumbs-thumb-woman-looking-01, .sprite-thumbs-thumb-terra_celta_s_vocal_elcio_by_kinow-dau42sh, .sprite-thumbs-thumb-southern-royal-albatross, .sprite-thumbs-thumb-rocky, .sprite-thumbs-thumb-old-hands, .sprite-thumbs-thumb-obachan, .sprite-thumbs-thumb-kelvin-diesel-engine, .sprite-thumbs-thumb-jean-luc-picard-original-size, .sprite-thumbs-thumb-green-skull-full, .sprite-thumbs-thumb-domestic-violence, .sprite-thumbs-thumb-doggo-white, .sprite-thumbs-thumb-dog, .sprite-thumbs-thumb-daienny-lima-compare, .sprite-thumbs-thumb-cave, .sprite-thumbs-thumb-alonzo_and_lambda_by_kinow-d5tqvau { background-image: url("/assets/pages/art/thumbs.png"); -webkit-background-size: 1006px 1000px; -moz-background-size: 1006px 1000px; background-size: 1006px 1000px; } }
