<div class="logos">
 <a href="http://apache.org"><img
        src="{{site.base_url}}img/logos/asf-logo.gif"
        title="Apache Software Foundation"
        alt="Apache Software Foundation" /></a> <a href="http://www.javacodegeeks.com/"><img
        src="{{site.base_url}}img/logos/logo_jcg_115x100.png"
        title="Java Code Geeks"
        alt="Java Code Geeks" /></a> <a href="http://www.open-bio.org/wiki/BOSC_2012"><img
        src="{{site.base_url}}img/logos/ISMB2012.jpg"
        title="BOSC 2012"
        alt="BOSC 2012" /></a> <a href="http://www.stpcon.com/"><img
        src="{{site.base_url}}img/logos/stpconspring2012.png"
        title="STPCon Spring 2012"
        alt="STPCon Spring 2012" /></a> <a href="http://www.oracle.com/javaone/lad-pt/"><img
        src="{{site.base_url}}img/logos/javaone.png"
        title="JavaOne 2011 LAD"
        alt="JavaOne 2011 LAD" /></a> <a href="http://www.jcertif.com"><img
        src="{{site.base_url}}img/logos/JCertif_Conf2011_2.png"
        title="JCertif 2011"
        alt="JCertif 2011" /></a> <a href="http://www.thedevelopersconference.com.br/tdc/2011/"><img
        src="{{site.base_url}}img/logos/banner-TDC2011-234x60.png"
        title="The Developer's Conference 2011"
        alt="The Developer's Conference 2011" /></a> <a href="http://belgiumtestingdays.com/past.php"><img
        src="{{site.base_url}}img/logos/btd2011_speakers_banner_1.png"
        title="Belgium Testing Days 2011"
        alt="Belgium Testing Days 2011" /></a>
</div>