<div class="menu">
    <div class="item">
        <a href="{{ site.base_url }}" class="main-link">Kinoshita</a>
    </div>
    <div class="item">
        <a href="{{ site.base_url }}software.html">Software</a>
    </div>
    <div class="item">
        <a href="{{ site.base_url }}articles.html">Articles</a>
    </div>
    <div class="item">
        <a href="{{ site.base_url }}books.html">Books</a>
    </div>
    <div class="item">
        <a href="{{ site.base_url }}about.html">About &#038; CV</a>
    </div>
    <div class="item">
        <a href="{{ site.base_url }}contact.html">Contact</a>
    </div>
</div>
<img id="me" src="{{site.base_url}}img/bruno.jpg" title="Hmmmm" alt="Hmmmm" width="134px" height="215px" />