---
title:
layout: default
---

Posts tagged with '{{ tag }}'

{% for post in pagination.posts %}
{% include 'partial_post.html' %}
{% endfor %}

{% if pagination.next_page or pagination.prev_page %}
<div id="navigation">
    {% if pagination.next_page %}
        &larr;&nbsp;<a href="{{ pagination.next_page }}" id="navigation-next">Older Entries</a>
    {% endif %}
    {% if pagination.prev_page %}
        &mdash; <a href="{{ pagination.prev_page }}" id="navigation-next">Newer Entries</a>&nbsp;&rarr;
    {% endif %}
</div>
{% endif %}
