---
title: 'Books'
author: kinow
tags:
  - books
date: '2016-03-30'
time: '16:33:33'
---

<h2><a name="top">Table Of Contents</a></h2>

<ul>
    <li>
        <a href="#books-that-i-wrote">Books that I wrote</a>
    </li>
    <li>
        <a href="#what-i-am-reading-at-the-moment">What I am reading at the moment</a>
    </li>
    <li>
        <a href="#my-tsundoku-list">My Tsundoku list</a>
    </li>
    <li>
        <a href="#my-wish-list">My wish list</a>
    </li>
    <li>
        <a href="#books-i-have-already-read">Books I have already read</a>
    </li>
    <li>
        <a href="#short-stories-and-essays-i-have-already-read">Short stories I have already read</a>
    </li>
    <li>
        <a href="#zines-i-have-already-read">Zines I have already read</a>
    </li>
</ul>

<p>When I was younger and was studying at <a href="http://www.cnsd-sp.com.br/">CNSD</a>, my father always gave me money for the book fair - though he never gave me money to buy lunch at school (had to bring something from home) or for video games. Then when I got older, he would take me to bookshops and tell me that I could choose anything. I remember when I hesitantly got Peter Norvig's Artificial Intelligence from one of the shelves. It was over 300 BRL (lot of money for a book in Brazil). He bought it without thinking, and told me that what I was learning with the books would stay with me forever.</p>

<p>That's how I ended up with piles of books that I had to give away or sell when I moved to New Zealand. This page contains a list that started with a database used to sell the books online.</p>

<p>Tables sorted by author name.</p>

<h2><a name="books-that-i-wrote">Books that I wrote (or helped to)</a></h2>

<p>Only wrote or helped with Open Source books. I helped on the build scripts for the <a href="http://www.aosabook.org/en/posa/introduction.html">The Performance of Open Source Applications</a> book, but my contribution was minimal comparing to the authors and other people involved in the build process (in special Tavish Armstrong!).</p>

<table class="ui celled striped table">
    <colgroup>
        <col width="50%" />
        <col width="50%" />
    </colgroup>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="https://www.dama.org/content/body-knowledge">
              DAMA-DMBOK: Data Management Body of Knowledge (2nd Edition)
            </a> (2017)</td>
            <td>DAMA International</td>
        </tr>
        <tr>
            <td>
                <a href="https://www.casadocodigo.com.br/products/livro-jenkins">
                Jenkins &mdash; Automatize tudo sem complica&ccedil;&otilde;es
              </a> (2016)</td>
            <td>Fernando Boaglio</td>
        </tr>
        <tr>
            <td>
                <a href="http://www.aosabook.org/en/posa/introduction.html">
                  The Performance of Open Source Applications
                </a> (2013)
            </td>
            <td>Tavish Armstrong</td>
        </tr>
        <tr>
            <td>
                <a href="https://www.gitbook.com/book/kinow/using-tap-with-java/details">
                  Using TAP with Java
                </a> (2011)
            </td>
            <td>Bruno P. Kinoshita</td>
        </tr>
        <tr>
            <td>
                <a href="https://wiki.jenkins-ci.org/download/attachments/753702/jenkins.pdf">
                  Jenkins TestLink Plug-in
                </a> (2010)
            </td>
            <td>Bruno P. Kinoshita and C&eacute;sar Fernandes de Almeida</td>
        </tr>
    </tbody>
</table>

<a href="#top">Back to top</a>

<h2><a name="what-i-am-reading-at-the-moment">What I am reading at the moment</a></h2>

<p>Normally I read one of two fiction books, and one technical. I try to always carry the fiction books, and sometimes manage to read one in one weekend, but lately I have not had a lot of time to read. And sometimes, even though I am reading a book, if you ask me which book I am reading, I can tell you the story, but have no idea about the title.</p>

<table class="ui celled striped table">
    <colgroup>
        <col width="50%" />
        <col width="50%" />
    </colgroup>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Triste fim de Policarpo Quaresma</td>
            <td>Lima Barreto</td>
        </tr>
        <tr>
            <td>Seven New Zealand Novellas</td>
            <td>Peter Simpson</td>
        </tr>
        <tr>
            <td>Cryptonomicon</td>
            <td>Neal Stephenson</td>
        </tr>
        <tr>
            <td>Python for Scientists and Engineers</td>
            <td>Shantnu Tiwari</td>
        </tr>
        <tr>
            <td>R for Data Science</td>
            <td>Garrett Grolemund and Hadley Wickham</td>
        </tr>
        <tr>
            <td>The Life and Times of Auckland: The Colourful Story of a City</td>
            <td>Gordon McLauchlan</td>
        </tr>
        <tr>
            <td>Nihongo Challenge Kotoba Goi vocabulary N4 JLPT</td>
            <td>Yukiko Yamazaki</td>
        </tr>
        <tr>
            <td>Nihongo Challenge N4 Grammar Reading JLPT</td>
            <td>Yukiko Yamazaki</td>
        </tr>
    </tbody>
</table>

<a href="#top">Back to top</a>

{% include 'tsundoku.html' %}

<h2><a name="my-wish-list">My wish list</a></h2>

<p><a href="http://www.amazon.com/gp/registry/wishlist/?ie=UTF8&cid=A1O606WLPSNDOF">My Amazon Wish List</a></p>

<p>And some short stories that I want to read:</p>

<table class="ui celled striped table">
    <colgroup>
        <col width="50%" />
        <col width="50%" />
    </colgroup>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fondly Fahrenheit</td>
            <td>Alfred Bester</td>
        </tr>
        <tr>
            <td>The Ship Who Sang</td>
            <td>Anne McCaffrey</td>
        </tr>
        <tr>
            <td>Enemy Mine</td>
            <td>Barry Longyear</td>
        </tr>
        <tr>
            <td>Light of Other Days</td>
            <td>Bob Shaw</td>
        </tr>
        <tr>
            <td>The Big Front Yard</td>
            <td>Clifford D Simak</td>
        </tr>
        <tr>
            <td>The Last of the Winnebagos</td>
            <td>Connie Willis</td>
        </tr>
        <tr>
            <td>Fire Watch</td>
            <td>Connie Willis</td>
        </tr>
        <tr>
            <td>The Game of Rat and Dragon</td>
            <td>Cordwainer Smith</td>
        </tr>
        <tr>
            <td>The Ballad of Lost C'Mell</td>
            <td>Cordwainer Smith</td>
        </tr>
        <tr>
            <td>Scanners Live in Vain</td>
            <td>Cordwainer Smith</td>
        </tr>
        <tr>
            <td>Flowers for Algernon</td>
            <td>Daniel Keyes</td>
        </tr>
        <tr>
            <td>Day Million</td>
            <td>Frederik Pohl</td>
        </tr>
        <tr>
            <td>Arena</td>
            <td>Fredric Brown</td>
        </tr>
        <tr>
            <td>The Fifth Head of Cerberus</td>
            <td>Gene Wolfe</td>
        </tr>
        <tr>
            <td>The Death of Doctor Island</td>
            <td>Gene Wolfe</td>
        </tr>
        <tr>
            <td>Sandkings</td>
            <td>George R R Martin</td>
        </tr>
        <tr>
            <td>A Song for Lya</td>
            <td>George R R Martin</td>
        </tr>
        <tr>
            <td>Blood Music</td>
            <td>Greg Bear</td>
        </tr>
        <tr>
            <td>'Repent Harlequin!' Said the Ticktockman</td>
            <td>Harlan Ellison</td>
        </tr>
        <tr>
            <td>A Boy and His Dog</td>
            <td>Harlan Ellison</td>
        </tr>
        <tr>
            <td>The Deathbird</td>
            <td>Harlan Ellison</td>
        </tr>
        <tr>
            <td>Jeffty is Five</td>
            <td>Harlan Ellison</td>
        </tr>
        <tr>
            <td>24 Views of Mt. Fuji</td>
            <td>Hokusai Roger Zelazny</td>
        </tr>
        <tr>
            <td>The Bicentennial Man</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>The Martian Way</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>The Last Castle</td>
            <td>Jack Vance</td>
        </tr>
        <tr>
            <td>The Dragon Masters</td>
            <td>Jack Vance</td>
        </tr>
        <tr>
            <td>The Moon Moth</td>
            <td>Jack Vance</td>
        </tr>
        <tr>
            <td>Surface Tension</td>
            <td>James Blish</td>
        </tr>
        <tr>
            <td>Think Like a Dinosaur</td>
            <td>James Patrick Kelly</td>
        </tr>
        <tr>
            <td>Houston, Houston, Do You Read?</td>
            <td>James Tiptree Jr</td>
        </tr>
        <tr>
            <td>The Women Men Don't See</td>
            <td>James Tiptree Jr</td>
        </tr>
        <tr>
            <td>The Screwfly Solution</td>
            <td>James Tiptree Jr</td>
        </tr>
        <tr>
            <td>The Girl Who Was Plugged In</td>
            <td>James Tiptree Jr</td>
        </tr>
        <tr>
            <td>Love is the Plan, the Plan is Death</td>
            <td>James Tiptree Jr</td>
        </tr>
        <tr>
            <td>It's a Good Life</td>
            <td>Jerome Bixby</td>
        </tr>
        <tr>
            <td>When It Changed</td>
            <td>Joanna Russ</td>
        </tr>
        <tr>
            <td>Great Work of Time</td>
            <td>John Crowley</td>
        </tr>
        <tr>
            <td>The Persistence of Vision</td>
            <td>John Varley</td>
        </tr>
        <tr>
            <td>PRESS ENTER [ ]</td>
            <td>John Varley</td>
        </tr>
        <tr>
            <td>Air Raid</td>
            <td>John Varley</td>
        </tr>
        <tr>
            <td>Who Goes There?</td>
            <td>John W Campbell</td>
        </tr>
        <tr>
            <td>Harrison Bergeron</td>
            <td>Kurt Vonnegut</td>
        </tr>
        <tr>
            <td>Vintage Season</td>
            <td>Kuttner &amp; Moore</td>
        </tr>
        <tr>
            <td>Mimsy Were the Borogoves</td>
            <td>Kuttner &amp; Moore</td>
        </tr>
        <tr>
            <td>Inconstant Moon</td>
            <td>Larry Niven</td>
        </tr>
        <tr>
            <td>Neutron Star</td>
            <td>Larry Niven</td>
        </tr>
        <tr>
            <td>The Mountains of Mourning</td>
            <td>Lois M Bujold</td>
        </tr>
        <tr>
            <td>R&amp;R</td>
            <td>Lucius Shepard</td>
        </tr>
        <tr>
            <td>Behold the Man</td>
            <td>Michael Moorcock</td>
        </tr>
        <tr>
            <td>Seven Views of Olduvai Gorge</td>
            <td>Mike Resnick</td>
        </tr>
        <tr>
            <td>First Contact</td>
            <td>Murray Leinster</td>
        </tr>
        <tr>
            <td>Beggars in Spain</td>
            <td>Nancy Kress</td>
        </tr>
        <tr>
            <td>Bloodchild</td>
            <td>Octavia Butler</td>
        </tr>
        <tr>
            <td>Ender's Game</td>
            <td>Orson Scott Card</td>
        </tr>
        <tr>
            <td>Riders of the Purple Wage</td>
            <td>Philip Jose Farmer</td>
        </tr>
        <tr>
            <td>We Can Remember It For You Wholesale</td>
            <td>Philip K Dick</td>
        </tr>
        <tr>
            <td>Second Variety</td>
            <td>Philip K Dick</td>
        </tr>
        <tr>
            <td>A Sound of Thunder</td>
            <td>Ray Bradbury</td>
        </tr>
        <tr>
            <td>There Will Come Soft Rains</td>
            <td>Ray Bradbury</td>
        </tr>
        <tr>
            <td>The Veldt</td>
            <td>Ray Bradbury</td>
        </tr>
        <tr>
            <td>The Man Who Sold the Moon</td>
            <td>Robert A Heinlein</td>
        </tr>
        <tr>
            <td>All You Zombies</td>
            <td>Robert A Heinlein</td>
        </tr>
        <tr>
            <td>The Green Hills of Earth</td>
            <td>Robert A Heinlein</td>
        </tr>
        <tr>
            <td>By His Bootstraps</td>
            <td>Robert A Heinlein</td>
        </tr>
        <tr>
            <td>The Unpleasant Profession of Jonathan Hoag</td>
            <td>Robert A Heinlein</td>
        </tr>
        <tr>
            <td>And He Built a Crooked House</td>
            <td>Robert A Heinlein</td>
        </tr>
        <tr>
            <td>Universe</td>
            <td>Robert A Heinlein</td>
        </tr>
        <tr>
            <td>A Rose For Ecclesiastes</td>
            <td>Roger Zelazny</td>
        </tr>
        <tr>
            <td>The Doors of His Face, the Lamps of His Mouth</td>
            <td>Roger Zelazny</td>
        </tr>
        <tr>
            <td>He Who Shapes</td>
            <td>Roger Zelazny</td>
        </tr>
        <tr>
            <td>For a Breath I Tarry</td>
            <td>Roger Zelazny</td>
        </tr>
        <tr>
            <td>Time Considered as a Helix…</td>
            <td>Samuel Delany</td>
        </tr>
        <tr>
            <td>Aye, and Gomorrah…</td>
            <td>Samuel Delany</td>
        </tr>
        <tr>
            <td>The Star Pit</td>
            <td>Samuel Delany</td>
        </tr>
        <tr>
            <td>The Lottery</td>
            <td>Shirley Jackson</td>
        </tr>
        <tr>
            <td>A Martian Odyssey</td>
            <td>Stanley Weinbaum</td>
        </tr>
        <tr>
            <td>Story of Your Life</td>
            <td>Ted Chiang</td>
        </tr>
        <tr>
            <td>Tower of Babylon</td>
            <td>Ted Chiang</td>
        </tr>
        <tr>
            <td>Exhalation</td>
            <td>Ted Chiang</td>
        </tr>
        <tr>
            <td>Hell is the Absence of God</td>
            <td>Ted Chiang</td>
        </tr>
        <tr>
            <td>The Merchant and the Alchemist's Gate</td>
            <td>Ted Chiang</td>
        </tr>
        <tr>
            <td>Seventy-two Letters</td>
            <td>Ted Chiang</td>
        </tr>
        <tr>
            <td>Baby is Three</td>
            <td>Theodore Sturgeon</td>
        </tr>
        <tr>
            <td>Microcosmic God</td>
            <td>Theodore Sturgeon</td>
        </tr>
        <tr>
            <td>The Cold Equations</td>
            <td>Tom Godwin</td>
        </tr>
        <tr>
            <td>The Word for World is Forest</td>
            <td>Ursula K Le Guin</td>
        </tr>
        <tr>
            <td>The Day Before the Revolution</td>
            <td>Ursula K Le Guin</td>
        </tr>
        <tr>
            <td>True Names</td>
            <td>Vernor Vinge</td>
        </tr>
        <tr>
            <td>A Canticle for Leibowitz</td>
            <td>Walter M Miller</td>
        </tr>
        <tr>
            <td>Johnny Mnemonic</td>
            <td>William Gibson</td>
        </tr>
        <tr>
            <td>Burning Chrome</td>
            <td>William Gibson</td>
        </tr>
        <tr>
            <td><a href="http://www.conjunctions.com/print/article/brian-evenson-c67">Smear</a></td>
            <td>Brian Evenson</td>
        </tr>
        <tr>
            <td><a href="https://granta.com/dark-air/">Dark Air</a></td>
            <td>Lincoln Michel</td>
        </tr>
        <tr>
            <td><a href="http://uncannymagazine.com/article/planet-lion/">Planet Lion</a></td>
            <td>Catherynne M. Valente</td>
        </tr>
        <tr>
            <td><a href="https://www.tor.com/2013/07/20/rocket-ship-to-hell/">Rocket Ship to Hell</a></td>
            <td>Jeffrey Ford</td>
        </tr>
        <tr>
            <td><a href="http://www.lightspeedmagazine.com/fiction/spider-the-artist/">Spider the Artist</a></td>
            <td>Nnedi Okorafor</td>
        </tr>
        <tr>
            <td><a href="http://strangehorizons.com/fiction/the-game-of-smash-and-recovery/">The Game of Smash and Recovery</a></td>
            <td>Kelly Link</td>
        </tr>
    </tbody>
</table>

<a href="#top">Back to top</a> {% include 'already_read.html' %}

<p>ps: some technical books I read the digital book, but for the rest I need to touch/feel/smell the paper, and preferably buy and stash it.</p>

{% include 'short_stories.html' %}

{% include 'zines.html' %}
