<h2>
    <a name="books-i-have-already-read">Books I have already read</a>
</h2>

<p>The are some books about computers (programming, networks, operating systems, etc) and
administration/management (strategic planning, basic administration, etc) due to my graduation
in computers and administration.</p>

<p>In 2007 I went to New Zealand for the first time. That was my first time overseas as well. After
that I decided to enhance my English, so started having private classes with David Rotenberg. He told me
that reading was good to learn another language, and lent me One for The Money.</p>

<p>I still keep the book, but started reading other novels, short stories, mangas, dictionaries,
and other stuff. Not everything is listed here. Thanks David!</p>

<table class="ui celled striped table">
    <colgroup>
        <col width="50%" />
        <col width="50%" />
    </colgroup>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Whatchamacallit?</td>
            <td>Adauri Brezolin, Alzira L. V. Allegro e Rosalind Mobaid</td>
        </tr>
        <tr>
            <td>Curso Basico De Japones 2</td>
            <td>Alian&ccedil;a Bunkyo</td>
        </tr>
        <tr>
            <td>Curso Basico De Japones 1</td>
            <td>Alian&ccedil;a Bunkyo</td>
        </tr>
        <tr>
            <td>Drink, Play, F@#k</td>
            <td>Andrew Gottlieb</td>
        </tr>
        <tr>
            <td>Distributed operating systems</td>
            <td>Andrew Tanenbaum</td>
        </tr>
        <tr>
            <td>The Pragmatic Programmer: From Journeyman to Master</td>
            <td>Andy Hunt and Dave Thomas</td>
        </tr>
        <tr>
            <td>O Pequeno Pr&iacute;ncipe</td>
            <td>Antoine de Saint-Exup&eacute;ry</td>
        </tr>
        <tr>
            <td>Introdu&ccedil;&atilde;o &agrave; administra&ccedil;&atilde;o</td>
            <td>Antonio Cesar Amaru Maximiano</td>
        </tr>
        <tr>
            <td>Metodologia do Trabalho Cient&iacute;fico</td>
            <td>Ant&ocirc;nio Joaquim Severino</td>
        </tr>
        <tr>
            <td>Classes, Ra&ccedil;as e Democracia</td>
            <td>Ant&ocirc;nio S. Alfredo Guimar&atilde;es</td>
        </tr>
        <tr>
            <td>Maquiavel &amp; Ger&ecirc;ncia de Empresas</td>
            <td>Antony Jay</td>
        </tr>
        <tr>
            <td>A Pol&iacute;tica</td>
            <td>Arist&oacute;teles</td>
        </tr>
        <tr>
            <td>2001: A Space Odyssey</td>
            <td>Arthur C. Clarke</td>
        </tr>
        <tr>
            <td>Bastards I have met</td>
            <td>Barry Crump</td>
        </tr>
        <tr>
            <td>Scrapwagon</td>
            <td>Barry Crump</td>
        </tr>
        <tr>
            <td>Head First Java</td>
            <td>Bert Bates and Kathy Sierra</td>
        </tr>
        <tr>
            <td>Enterprise JavaBeans 3.0</td>
            <td>Bill Burke and Richard Monson-Haefel</td>
        </tr>
        <tr>
            <td>
                Calvin &amp; Haroldo - Tem Alguma Coisa Babando Embaixo da Cama
            </td>
            <td>Bill Watterson</td>
        </tr>
        <tr>
            <td>The Way of Kings</td>
            <td>Brandon Sanderson</td>
        </tr>
        <tr>
            <td>Words of Radiance</td>
            <td>Brandon Sanderson</td>
        </tr>
        <tr>
            <td>Java Concurrency in Practice</td>
            <td>Brian Goetz</td>
        </tr>
        <tr>
            <td>The C Programming Language</td>
            <td>Brian Kernighan and Dennis Ritchie</td>
        </tr>
        <tr>
            <td>
                <a href="https://www.gitbook.com/book/kinow/using-tap-with-java/details">
                Using TAP with Java
                </a> (2011)
            </td>
            <td>Bruno P. Kinoshita</td>
        </tr>
        <tr>
            <td>
                <a href="https://wiki.jenkins-ci.org/download/attachments/753702/jenkins.pdf">
                Jenkins TestLink Plug-in
                </a> (2010)
            </td>
            <td>Bruno P. Kinoshita and C&eacute;sar Fernandes de Almeida</td>
        </tr>
        <tr>
            <td>A Moreninha</td>
            <td>Casimiro de Abreu and Joaquim Manuel de Macedo</td>
        </tr>
        <tr>
            <td>Dead Reckoning</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>Deadlocked</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>A Touch of Dead</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>From Dead to Worse</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>Shakespeare&#39;s Champion</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>All Together Dead</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>Dead and Gone: A Sookie Stackhouse Novel</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>Shakespeare&#39;s Landlord</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>Blood Lite</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>Dead in the Family</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>Definitely Dead: A Sookie Stackhouse Novel</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>Club Dead: A True Blood Novel</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>Dead To The World</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>Living Dead in Dallas: A Sookie Stackhouse Novel</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>Dead Until Dark</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>Dead as a Doornail: A Sookie Stackhouse Novel</td>
            <td>Charlaine Harris</td>
        </tr>
        <tr>
            <td>Contos de Shakespeare</td>
            <td>Charles e Mary Lamb</td>
        </tr>
        <tr>
            <td>Introduction to Algorithms</td>
            <td>
                Charles E. Leiserson, Clifford Stein, Ronald Rivest, and Thomas H. Cormen
            </td>
        </tr>
        <tr>
            <td>O melhor de Hagar, O Terr&iacute;vel &ndash; Vol 3</td>
            <td>Chris Browne</td>
        </tr>
        <tr>
            <td>Obras da Fuvest 2003</td>
            <td>Cursinho Etapa</td>
        </tr>
        <tr>
            <td>Guia Internet De Conectividade</td>
            <td>Cyclades</td>
        </tr>
        <tr>
            <td>No&ccedil;&otilde;es de coisas</td>
            <td>Darcy Ribeiro</td>
        </tr>
        <tr>
            <td>Longitude</td>
            <td>Dava Sobel</td>
        </tr>
        <tr>
            <td>Zeitoun</td>
            <td>Dave Eggers</td>
        </tr>
        <tr>
            <td>Short short stories</td>
            <td>Dave Eggers</td>
        </tr>
        <tr>
            <td>Me Talk Pretty One Day</td>
            <td>David Sedaris</td>
        </tr>
        <tr>
            <td>EJB 3 in Action</td>
            <td>Debu Panda and Reza Rahman</td>
        </tr>
        <tr>
            <td>Hitchhiker's Guide to the Galaxy</td>
            <td>Douglas Adams</td>
        </tr>
        <tr>
            <td>Seguranca - Seu Guia Para o Uso Seguro em redes locais</td>
            <td>Ed Sawicki</td>
        </tr>
        <tr>
            <td>
                Hist&oacute;rias Extraordin&aacute;rias (Biblioteca de Ouro da Literatura Universal)
            </td>
            <td>Edgar Allan Poe</td>
        </tr>
        <tr>
            <td>Computa&ccedil;&atilde;o gr&aacute;fica</td>
            <td>Eduardo Azevedo e Aura Conci</td>
        </tr>
        <tr>
            <td>V&iacute;cios privados, benef&iacute;cios p&uacute;blicos?</td>
            <td>Eduardo Giannetti Da Fonseca</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 1</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 2</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 3</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 4</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 5</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 6</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 7</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 8</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 9</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 10</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 11</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 12</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 13</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Vagabond - A Hist&oacute;ria de Musashi - Vol 14</td>
            <td>Eiji Yoshikawa</td>
        </tr>
        <tr>
            <td>Poemas Escolhidos (bil&iacute;ng&uuml;e) Emily Dickinson</td>
            <td>Emily Dickinson</td>
        </tr>
        <tr>
            <td>Padr&otilde;es de Projetos: Solu&ccedil;&otilde;es Reutiliz&aacute;veis</td>
            <td>Erich Gamma, John Vlissides, Ralph Johnson, and Richard Helm</td>
        </tr>
        <tr>
            <td>The Old Man and the Sea</td>
            <td>Ernest Hemingway</td>
        </tr>
        <tr>
            <td>The Great Gatsby</td>
            <td>F. Scott Fitzgerald</td>
        </tr>
        <tr>
            <td>Jenkins &mdash; Automatize tudo sem complica&ccedil;&otilde;es</td>
            <td>Fernando Boaglio</td>
        </tr>
        <tr>
            <td>O segredo de Lu&iacute;sa</td>
            <td>Fernando Dolabela</td>
        </tr>
        <tr>
            <td>Bonjour Tristesse</td>
            <td>Fran&ccedil;oise Sagan</td>
        </tr>
        <tr>
            <td>Dune</td>
            <td>Frank Herbert</td>
        </tr>
        <tr>
            <td>&#39;Tis</td>
            <td>Frank McCourt</td>
        </tr>
        <tr>
            <td>Teacher Man</td>
            <td>Frank McCourt</td>
        </tr>
        <tr>
            <td>Angela&#39;s Ashes</td>
            <td>Frank McCourt</td>
        </tr>
        <tr>
            <td>A metamorfose (Biblioteca de Ouro da Literatura Universal)</td>
            <td>Franz Kafka</td>
        </tr>
        <tr>
            <td>Humano, demasiado humano</td>
            <td>Friedrich Nietzsche</td>
        </tr>
        <tr>
            <td>The Dream of a Ridiculous Man</td>
            <td>Fyodor Dostoyevsky</td>
        </tr>
        <tr>
            <td>Memoria de mis Putas Tristes</td>
            <td>Gabriel Garc&iacute;a M&aacute;rquez</td>
        </tr>
        <tr>
            <td>Relato de un Naufrago</td>
            <td>Gabriel Garc&iacute;a M&aacute;rquez</td>
        </tr>
         <tr>
            <td>Pygmalion</td>
            <td>George Bernard Shaw</td>
        </tr>
        <tr>
            <td>Nineteen eighty-four</td>
            <td>George Orwell</td>
        </tr>
        <tr>
            <td>A Game of Thrones</td>
            <td>George R. R. Martin</td>
        </tr>
        <tr>
            <td>A Dance with Dragons</td>
            <td>George R. R. Martin</td>
        </tr>
        <tr>
            <td>A feast for crows</td>
            <td>George R. R. Martin</td>
        </tr>
        <tr>
            <td>A Clash of Kings</td>
            <td>George R. R. Martin</td>
        </tr>
        <tr>
            <td>XUnit Test Patterns</td>
            <td>Gerard Meszaros</td>
        </tr>
        <tr>
            <td>The Life and Times of Auckland: The Colourful Story of a City</td>
            <td>Gordon McLauchlan</td>
        </tr>
        <tr>
            <td>The Unfolding of Language</td>
            <td>Guy Deutscher</td>
        </tr>
        <tr>
            <td>Dead Ex</td>
            <td>Harley Jane Kozak</td>
        </tr>
        <tr>
            <td>Prime Number</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>1Q84: 3 Volume Boxed Set (Vintage International)</td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td>A Wild Sheep Chase</td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td>After Dark</td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td>Colorless Tsukuru Tazaki and His Years of Pilgrimage</td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td>Dance Dance Dance</td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td>Kafka on the Shore</td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td>Norwegian Wood</td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td>The Elephant Vanishes</td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td>The Wind-up Bird Chronicle</td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td>Sputnik Sweetheart</td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td>501 German Verbs</td>
            <td>Henry Strutz</td>
        </tr>
        <tr>
            <td>Benito Cereno</td>
            <td>Herman Melville</td>
        </tr>
        <tr>
            <td>Bartleby, the Scrivener</td>
            <td>Herman Melville</td>
        </tr>
        <tr>
            <td>A Cura de Schopenhauer</td>
            <td>Irvin D. Yalom</td>
        </tr>
        <tr>
            <td>Casebook of the Black Widowers</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Foundation</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Foundation&#39;s Edge</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Foundation and Earth</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Foundation and Empire</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Nemesis</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Pebble in the Sky</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Prelude to Foundation</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Profession</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Second Foundation</td>
            <td>Isaac Asimov</td>
        </tr>
        
        <tr>
            <td>The Rest of the Robots</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>The Hobbit</td>
            <td>J. R. R. Tolkien</td>
        </tr>
        <tr>
            <td>
                O mundo segundo Peter Drucker &ndash; As teorias de um gigante da administra&ccedil;&atilde;o
            </td>
            <td>Jack Beatty</td>
        </tr>
        <tr>
            <td>Dubliners</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>Calculus</td>
            <td>James Stewart</td>
        </tr>
        <tr>
            <td>One for the Money</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Two for the Dough</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Four to Score</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>High Five</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Hot Six</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Seven Up</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Hard Eight</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>To the Nines</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Ten Big Ones</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Eleven on Top</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Twelve Sharp</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Lean Mean Thirteen</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Fearless Fourteen</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Finger Lickin&#39; Fifteen</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Sizzling Sixteen</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Smokin&#39; Seventeen</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Explosive Eighteen</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Plum Lovin&#39;</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Visions of Sugar Plums</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Plum Lucky</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Plum Spooky</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Metro Girl</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Motor Mouth</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>Hot Stuff</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>The Grand Finale</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>The Ins and Outs of Prepositions</td>
            <td>Jean Yates</td>
        </tr>
        <tr>
            <td>Dexter by Design</td>
            <td>Jeff Lindsay</td>
        </tr>
        <tr>
            <td>Dexter in the Dark</td>
            <td>Jeff Lindsay</td>
        </tr>
        <tr>
            <td>Em Defesa da Propaganda</td>
            <td>Jerry Kirkpatrick</td>
        </tr>
        <tr>
            <td>O homem que matou Get&uacute;lio Vargas</td>
            <td>J&ocirc; Soares</td>
        </tr>
        <tr>
            <td>The Forever War</td>
            <td>Joe Haldeman</td>
        </tr>
        <tr>
            <td>Jenkins: The Definitive Guide</td>
            <td>John Ferguson Smart</td>
        </tr>
        <tr>
            <td>Men are From Mars, Women are From Venus</td>
            <td>John Gray</td>
        </tr>
        <tr>
            <td>Tarnsman of Gor</td>
            <td>John Norman</td>
        </tr>
        <tr>
            <td>Of Mice and Men</td>
            <td>John Steinbeck</td>
        </tr>
        <tr>
            <td>The Day of the Triffids</td>
            <td>John Wyndham</td>
        </tr>
        <tr>
            <td>South Sea Vagabonds</td>
            <td>John Wray</td>
        </tr>
        <tr>
            <td>Effective Java, 2nd Edition</td>
            <td>Joshua Bloch</td>
        </tr>
        <tr>
            <td>Salve-se Quem Puder - O fantasma do espelho</td>
            <td>Karen Dolby</td>
        </tr>
        <tr>
            <td>Head First Servlets and JSP</td>
            <td>Kathy Sierra</td>
        </tr>
        <tr>
            <td>Never Let Me Go</td>
            <td>Kazuo Ishiguro</td>
        </tr>
        <tr>
            <td>The Pillars of the Earth</td>
            <td>Ken Follett</td>
        </tr>
        <tr>
            <td>Sistemas de Informa&ccedil;&atilde;o Gerenciais</td>
            <td>Kenneth C. Laudon, Jane P. Laudon</td>
        </tr>
        <tr>
            <td>A cidade do sol</td>
            <td>Khaled Hosseini</td>
        </tr>
        <tr>
            <td>O Ca&ccedil;ador de Pipas</td>
            <td>Khaled Hosseini</td>
        </tr>
        <tr>
            <td>Slaughterhouse-Five</td>
            <td>Kurt Vonnegut</td>
        </tr>
        <tr>
            <td>Developing Large Web Applications</td>
            <td>Kyle Loudon</td>
        </tr>
        <tr>
            <td>Integral Trees</td>
            <td>Larry Niven</td>
        </tr>
        <tr>
            <td>Ringworld</td>
            <td>Larry Niven</td>
        </tr>
        <tr>
            <td>Ringworld Engineers</td>
            <td>Larry Niven</td>
        </tr>
        <tr>
            <td>The Ringworld Throne</td>
            <td>Larry Niven</td>
        </tr>
        <tr>
            <td>Ringworld's Children</td>
            <td>Larry Niven</td>
        </tr>
        <tr>
            <td>The Biggest Boat I Could Afford</td>
            <td>Lee Hughes</td>
        </tr>
        <tr>
            <td>The Cat who Knew Shakespeare</td>
            <td>Lilian Jackson Braun</td>
        </tr>
        <tr>
            <td>The Cat Who Had 60 Whiskers</td>
            <td>Lilian Jackson Braun</td>
        </tr>
        <tr>
            <td>The Cat Who Dropped A Bombshell</td>
            <td>Lilian Jackson Braun</td>
        </tr>
        <tr>
            <td>Os Lus&iacute;adas</td>
            <td>Lu&iacute;s Vaz de Cam&otilde;es</td>
        </tr>
        <tr>
            <td>Sistemas din&acirc;micos</td>
            <td>Luiz Henrique Alves Monteiro</td>
        </tr>
        <tr>
            <td>Sistemas Din&acirc;micos Complexos</td>
            <td>Luiz Henrique Alves Monteiro</td>
        </tr>
        <tr>
            <td>Voc&ecirc; Sabia? + de 400 coisas que voc&ecirc; deveria saber</td>
            <td>Lukas Marques e Daniel Molo</td>
        </tr>
        <tr>
            <td>Aprenda Japon&ecirc;s Lendo Mang&aacute; - Vol 2</td>
            <td>Mar&iacute;a Ferrer e David Ram&iacute;rez</td>
        </tr>
        <tr>
            <td>Aprenda Japon&ecirc;s Lendo Mang&aacute; - Vol 1</td>
            <td>Mar&iacute;a Ferrer e David Ram&iacute;rez</td>
        </tr>
        <tr>
            <td>Aprenda Japon&ecirc;s Lendo Mang&aacute; - Vol 3</td>
            <td>Mar&iacute;a Ferrer e David Ram&iacute;rez</td>
        </tr>
        <tr>
            <td>Fundamentos de metodologia cient&iacute;fica</td>
            <td>Marina de Andrade Marconi, Eva. Maria Lakatos</td>
        </tr>
        <tr>
            <td>Making Sense of Weather and Climate</td>
            <td>Mark Denny</td>
        </tr>
        <tr>
            <td>C&aacute;lculo Para Leigos</td>
            <td>Mark Ryan</td>
        </tr>
        <tr>
            <td>Refactoring: Improving the Design of Existing Code</td>
            <td>Martin Fowler</td>
        </tr>
        <tr>
            <td>Manual de planejamento estrat&eacute;gico</td>
            <td>Martinho Isnard R. Almeida</td>
        </tr>
        <tr>
            <td>Guia Mang&aacute; de Biologia Molecular</td>
            <td>Masaharu Takemura</td>
        </tr>
        <tr>
            <td>Waste of Paint &mdash; Artbook Vol 1</td>
            <td>Matt Haworth</td>
        </tr>
        <tr>
            <td>Planejamento, programa&ccedil;&atilde;o e controle da produ&ccedil;&atilde;o</td>
            <td>Mauro Caon, Henrique Luiz Correa, Irineu G. Nogueira Gianesi</td>
        </tr>
        <tr>
            <td>Working Effectively with Legacy Code</td>
            <td>Michael C. Feathers</td>
        </tr>
        <tr>
            <td>Figure Drawing: Design and Invention</td>
            <td>Michael Hampton</td>
        </tr>
        <tr>
            <td>Kanji Pictografico</td>
            <td>Michael Rowley</td>
        </tr>
        <tr>
            <td>
                Projeto de algoritmos: Fundamentos, an&aacute;lise e exemplos da internet
            </td>
            <td>Michael T.Goodrich and Roberto Tamassia</td>
        </tr>
        <tr>
            <td>Pro EJB 3: Java persistence API</td>
            <td>Mike Keith and Merrick Schincariol</td>
        </tr>
        <tr>
            <td>Escola de Mulheres (Biblioteca Ouro de Literatura Universal)</td>
            <td>Moli&egrave;re (Jean-Baptiste Poquelin)</td>
        </tr>
        <tr>
            <td>Barron&#39;s Pass Key to the TOEFL IBT</td>
            <td>Pamela J. Sharpe</td>
        </tr>
        <tr>
            <td>Java How to Program</td>
            <td>Paul Deitel</td>
        </tr>
        <tr>
            <td>Administrando Em Tempos de Grandes Mudan&ccedil;as</td>
            <td>Peter F. Drucker</td>
        </tr>
        <tr>
            <td>Fallen Dragon</td>
            <td>Peter F. Hamilton</td>
        </tr>
        <tr>
            <td>Judas Unchained</td>
            <td>Peter F. Hamilton</td>
        </tr>
        <tr>
            <td>Pandora's Star</td>
            <td>Peter F. Hamilton</td>
        </tr>
        <tr>
            <td>The Dreaming Void</td>
            <td>Peter F. Hamilton</td>
        </tr>
        <tr>
            <td>The Temporal Void</td>
            <td>Peter F. Hamilton</td>
        </tr>
        <tr>
            <td>Linguagem Assembly Para IBM PC</td>
            <td>Peter Norton</td>
        </tr>
        <tr>
            <td>Intelig&ecirc;ncia artificial</td>
            <td>Peter Norvig and Stuart J. Russell</td>
        </tr>
        <tr>
            <td>A Spell for Chameleon</td>
            <td>Piers Anthony</td>
        </tr>
        <tr>
            <td>The Source of Magic</td>
            <td>Piers Anthony</td>
        </tr>
        <tr>
            <td>Story of the America's Cup 1851-2003</td>
            <td>Ranulf Rayner</td>
        </tr>
        <tr>
            <td>Advanced Software Testing</td>
            <td>Rex Black</td>
        </tr>
        <tr>
            <td>O Gene Ego&iacute;sta</td>
            <td>Richard Dawkins</td>
        </tr>
        <tr>
            <td>Japanese Verbs and Essentials of Grammar</td>
            <td>Rita Lampkin</td>
        </tr>
        <tr>
            <td>The Great Automatic Grammatizator and Other Stories</td>
            <td>Roald Dahl</td>
        </tr>
        <tr>
            <td>The Strange Case of Dr. Jekyll and Mr. Hyde</td>
            <td>Robert Louis Stevenson</td>
        </tr>
        <tr>
            <td>Orphans of the Sky</td>
            <td>Robert A. Heinlein</td>
        </tr>
        <tr>
            <td>The Man Who Sold the Moon</td>
            <td>Robert A. Heinlein</td>
        </tr>
        <tr>
            <td>The Man Who Sold the Moon / Orphans of the Sky</td>
            <td>Robert A. Heinlein</td>
        </tr>
        <tr>
            <td>Design para quem n&atilde;o &acute; designer</td>
            <td>Robin Williams</td>
        </tr>
        <tr>
            <td>Hack Proofing Your Network</td>
            <td>Ryan Russell</td>
        </tr>
        <tr>
            <td>Guia de conversa&ccedil;&atilde;o Portugu&ecirc;s - Japon&ecirc;s &#x30dd;&#x30eb;&#x30c8;&#x30ac;&#x30eb;&#x8a9e;&#x5b9f;&#x7528;&#x4f1a;&#x8a71;&#x8f9e;&#x5178;</td>
            <td>Sato Katsutoshi</td>
        </tr>
        <tr>
            <td>Python for Scientists and Engineers</td>
            <td>Shantnu Tiwari</td>
        </tr>
        <tr>
            <td>Disserta&ccedil;&atilde;o n&atilde;o &eacute; bicho-pap&atilde;o</td>
            <td>Simone Pessoa</td>
        </tr>
        <tr>
            <td>Dr. Negro e outras hist&oacute;rias de terror</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - A Study in Scarlet</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Sign of the Four</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Hound of the Baskervilles
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Valley of Fear</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Adventures of Sherlock Holmes
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Memoirs of Sherlock Holmes
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Return of Sherlock Holmes
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - His Last Bow</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Case-Book of Sherlock Holmes
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - A Scandal in Bohemia</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Red-Headed League</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - A Case of Identity</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Boscombe Valley Mystery</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Five Orange Pips</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Man with the Twisted Lip</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Blue Carbuncle</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Speckled Band</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Engineer's Thumb</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Noble Bachelor</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Beryl Coronet</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Copper Beeches</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - Silver Blaze</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Adventure of the Cardboard Box
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Yellow Face</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Stockbroker's Clerk</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Adventure of the Gloria Scott
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Adventure of the Musgrave Ritual
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Reigate Squire</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Crooked Man</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Resident Patient</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Adventure of the Greek Interpreter
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Naval Treaty</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Final Problem
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Adventure of the Empty House
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Norwood Builder</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Dancing Men</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Solitary Cyclist</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Priory School</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of Black Peter</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Adventure of Charles Augustus Milverton
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Six Napoleons</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Three Students</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Golden Pince-Nez</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Missing Three-Quarter</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Abbey Grange</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Second Stain</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Adventure of Wisteria Lodge
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Red Circle</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Adventure of the Bruce-Partington Plans
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Dying Detective</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Disappearance of Lady Frances Carfax</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Devil's Foot</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - His Last Bow</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Adventure of the Mazarin Stone
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Problem of Thor Bridge</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Creeping Man</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Sussex Vampire</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Three Garridebs</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Illustrious Client</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Three Gables</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Adventure of the Blanched Soldier
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>
                Sherlock Holmes - The Adventure of the Lion's Mane
            </td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Retired Colourman</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of the Veiled Lodger</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Sherlock Holmes - The Adventure of Shoscombe Old Place</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>Mem&oacute;rias de Sherlock Holmes</td>
            <td>Sir Arthur Conan Doyle</td>
        </tr>
        <tr>
            <td>The Hippie Guide to Climbing Corporate Ladder and Other Mountains: How JanSport Makes It Happen</td>
            <td>Skip Yowell</td>
        </tr>
        <tr>
            <td>Shopaholic &amp; Baby</td>
            <td>Sophie Kinsella</td>
        </tr>
        <tr>
            <td>&Eacute;dipo Rei - Biblioteca de Ouro da Literatura Universal</td>
            <td>Sophocles</td>
        </tr>
        <tr>
            <td>Ant&iacute;gona</td>
            <td>Sophocles</td>
        </tr>
        <tr>
            <td>Drawing &amp; Sketching</td>
            <td>Stan Smith</td>
        </tr>
        <tr>
            <td>Code Complete</td>
            <td>Steve McConnell</td>
        </tr>
        <tr>
            <td>The Art of War</td>
            <td>Sun Tzu</td>
        </tr>
        <tr>
            <td>Salve-se Quem Puder - Em busca do templo perdido</td>
            <td>Susannah Leigh</td>
        </tr>
        <tr>
            <td>Decis&atilde;o nas organiza&ccedil;&otilde;es</td>
            <td>Tamio Shimizu</td>
        </tr>
        <tr>
            <td>
                <a href="http://www.aosabook.org/en/posa/introduction.html">
                The Performance of Open Source Applications
                </a> (2013)
            </td>
            <td>Tavish Armstrong</td>
        </tr>
        <tr>
            <td>The Colour of Magic</td>
            <td>Terry Pratchett</td>
        </tr>
        <tr>
            <td>Introduction to Algorithms</td>
            <td>Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest, Clifford Stein</td>
        </tr>
        <tr>
            <td>
                Uma Empresa e Seus Credos as Id&eacute;ias Que Ajudaram a Construir a IBM
            </td>
            <td>Thomas Watson Jr.</td>
        </tr>
        <tr>
            <td>&Eacute;tica e Cidadania I</td>
            <td>Universidade Mackenzie</td>
        </tr>
        <tr>
            <td>&Eacute;tica e Cidadania II</td>
            <td>Universidade Mackenzie</td>
        </tr>
        <tr>
            <td>Depois daquela viagem</td>
            <td>Val&eacute;ria Polizzi</td>
        </tr>
        <tr>
            <td>Tratado sobre a Toler&acirc;ncia</td>
            <td>Voltaire (Fran&ccedil;ois-Marie Arouet)</td>
        </tr>
        <tr>
            <td>S&atilde;o Paulo o bom combate da paz</td>
            <td>Walter Feldman</td>
        </tr>
        <tr>
            <td>A Tempestade</td>
            <td>William Shakespeare</td>
        </tr>
        <tr>
            <td>A Comedia Dos Erros</td>
            <td>William Shakespeare</td>
        </tr>
        <tr>
            <td>Twelfth Night</td>
            <td>William Shakespeare</td>
        </tr>
        <tr>
            <td>Ant&ocirc;nio e Cle&oacute;patra</td>
            <td>William Shakespeare</td>
        </tr>
        <tr>
            <td>Romeu e Julieta</td>
            <td>William Shakespeare</td>
        </tr>
        <tr>
            <td>Macbeth</td>
            <td>William Shakespeare</td>
        </tr>
        <tr>
            <td>Hamlet</td>
            <td>William Shakespeare</td>
        </tr>
        <tr>
            <td>Otelo</td>
            <td>William Shakespeare</td>
        </tr>
        <tr>
            <td>O Mercador de Veneza</td>
            <td>William Shakespeare</td>
        </tr>
        <tr>
            <td>Sonho de uma noite de ver&atilde;o</td>
            <td>William Shakespeare</td>
        </tr>
        <tr>
            <td>Rei Lear</td>
            <td>William Shakespeare</td>
        </tr>
        <tr>
            <td>Pounamu, Pounamu</td>
            <td>Witi Ihimaera</td>
        </tr>
        <tr>
            <td>The Whale Rider</td>
            <td>Witi Ihimaera</td>
        </tr>
        <tr>
            <td>An Introduction to Fuzzy Sets</td>
            <td>Witold Pedrycz, Fernando Gomide</td>
        </tr>
        <tr>
            <td>Elementary Japanese Volume One</td>
            <td>Yoko Hasegawa</td>
        </tr>
        <tr>
            <td>Elementary Japanese Volume Two</td>
            <td>Yoko Hasegawa</td>
        </tr>
        <tr>
            <td>Hist&oacute;rias Preferidas das Crian&ccedil;as Japonesas - Livro 2</td>
            <td>Yoshisuke Kurosaki</td>
        </tr>
        <tr>
            <td>Hist&oacute;rias Preferidas das Crian&ccedil;as Japonesas - Livro 1</td>
            <td>Yoshisuke Kurosaki</td>
        </tr>
    </tbody>
</table>

<a href="#top">Back to top</a>
