{% macro button(base_url,counturl,url,text) %}
{% set length = base_url|length %}
{% set last_char = base_url[length-1:] %}
{% if (last_char == '/') %}
{% set base_url = base_url[0:length-1] %}
{% endif %}
<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://kinoshita.eti.br{{base_url|e}}{{url|e}}" data-text="{{text|e}}" data-via="kinow" data-hashtags="opensource">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endmacro %}