<div class="menu">
    <div class="item">
        <a href="{{ site.root }}" class="main-link">Kinoshita</a>
    </div>
    <div class="item">
        <a href="{{ site.root }}software.html">Software</a>
    </div>
    <div class="item">
        <a href="{{ site.root }}articles.html">Articles</a>
    </div>
    <div class="item">
        <a href="{{ site.root }}books.html">Books</a>
    </div>
    <div class="item">
        <a href="{{ site.root }}about.html">About &#038; CV</a>
    </div>
    <div class="item">
        <a href="{{ site.root }}contact.html">Contact</a>
    </div>
</div>
<img id="me" src="{{site.root}}img/bruno.jpg" title="Hmmmm" alt="Hmmmm" width="134px" height="215px" />