{% import "macros_tweet.html" as tweet %}
{% block content %}
<div class="ui raised padded container segment">
    <h2>{{ post.title }}</h2>
    <p><small>{{ post.author }}</small> @ <small>{{ post.date }}&nbsp;{{ post.time }}</small></p>
    
    {{ tweet.button(site.root, post.url, post.url, post.title) }}

    {{ post.content }}<!-- html -->
    {% if post.has_more %}
    <p>( <a href="{{post.url}}" >Read more ...</a> )</p>
    {% endif %}
<p class="postmetadata">
    {% if post.tags %}
    <small>tags {% for tag in post.tags %}
     [&nbsp;<a
        href="{{ pctagurl(tag) }}"
        rel="tag">{{ tag }}</a>&nbsp;]&nbsp;
    {% endfor %}
    </small>
    {% endif %}
    {% if post.category %}
    <br/>
    <small>posted in 
    [&nbsp;<a
        href="{{ pccaturl(post.category) }}"
        title="View all posts in {{ post.category }}"
        rel="category tag">{{ post.category }}</a>&nbsp;]&nbsp;
    category </small>
    {% endif %}
</p>
</div>
{% endblock %}