<h2>
    <a name="short-stories-and-essays-i-have-already-read">Short stories and Essays I have already read</a>
</h2>

<table class="ui celled striped table">
    <colgroup>
        <col width="50%" />
        <col width="50%" />
    </colgroup>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/a_06_17/">An Account of the Sky Whales</a></td>
            <td>A Que</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/brym_09_17/">Antarctica Birds</a></td>
            <td>A. Brym</td>
        </tr>
        <tr>
            <td><a href="http://www.lightspeedmagazine.com/fiction/longing-stars-lost/">Longing for Stars Once Lost</a></td>
            <td>A. Merc Rustad</td>
        </tr>
        <tr>
            <td><a href="http://www.lightspeedmagazine.com/fiction/told-little-girl-aliens-preparing-grind-us-hamburgers/">What I Told My Little Girl About the Aliens Preparing to Grind Us Into Hamburgers</a></td>
            <td>Adam-Troy Castro</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/roberts_04_17_reprint/">Thing and Sick</a></td>
            <td>Adam Roberts</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/jablokov_03_17_reprint/">At the Cross-Time Jaunter's Ball</a></td>
            <td>Alexander Jablokov</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/debodard_06_12/">Immersion</a></td>
            <td>Aliette de Bodard</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/debodard_01_17_reprint">The Shipmaker</a></td>
            <td>Aliette de Bodard</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/debodard_06_17_reprint">The Waiting Stars</a></td>
            <td>Aliette de Bodard</td>
        </tr>
        <tr>
            <td><a href="http://www.nightmare-magazine.com/fiction/hungry-daughters-of-starving-mothers/">Hungry Daughters of Starving Mothers</a></td>
            <td>Alyssa Wong</td>
        </tr>
        <tr>
            <td><a href="http://uncannymagazine.com/article/seasons-glass-iron/">Seasons of Glass and Iron</a></td>
            <td>Amal El–Mohtar</td>
        </tr>
        <tr>
            <td><a href="http://americanshortfiction.org/2014/07/01/janitor-space/">The Janitor in Space</a></td>
            <td>Amber Sparks</td>
        </tr>
        <tr>
            <td><a href="http://www.triggerwarningshortfiction.com/suicide-club/">Suicide Club</a></td>
            <td>Amy Sisson</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/dudak_06_17/">Fool's Cap</a></td>
            <td>Andy Dudak</td>
        </tr>
        <tr>
            <td><a href="http://www.galactanet.com/oneoff/theegg_mod.html">The Egg</a></td>
            <td>Andy Weir</td>
        </tr>
        <tr>
            <td>The nine billion names of God</td>
            <td>Arthur C. Clarke</td>
        </tr>
        <tr>
            <td>The Sentinel</td>
            <td>Arthur C. Clarke</td>
        </tr>
        <tr>
            <td>The Star</td>
            <td>Arthur C. Clarke</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/reflection.html">Reflection</a></td>
            <td>Aaron Wright</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/balder_07_17/">The Bridgegroom</a></td>
            <td>Bo Balder</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/takacs_04_17/">Some Remarks on the Reproductive Strategy of the Common Octopus</a></td>
            <td>Bogi Tak&aacute;cs</td>
        </tr>
        <tr>
            <td>Toward the Luminous Towers</td>
            <td>Bogi Tak&aacute;cs</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/twiceborn.html">Twiceborn</a></td>
            <td>C.L. Kagmi</td>
        </tr>
        <tr>
            <td><a href="https://en.wikipedia.org/wiki/The_Yellow_Wallpaper">The Yellow Wallpaper</a></td>
            <td>Charlotte Perkins Gilman</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/chen_08_17/">A Man Out of Fashion</a></td>
            <td>Chen Qiufan</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/chi_02_17">Rain Ship</a></td>
            <td>Chi Hui</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/rambo_05_16/">Left Behind</a></td>
            <td>Cat Rambo</td>
        </tr>
        <tr>
            <td><a href="http://uncannymagazine.com/article/planet-lion/">Planet Lion</a></td>
            <td>Catherynne M. Valente</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/valente_10_11/">Silently and Very Fast</a></td>
            <td>Catherynne M. Valente</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/holland_02_17_reprint/">Dragon's Deep</a></td>
            <td>Cecelia Holland</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/chen_11_16/">Western Heaven</a></td>
            <td>Chen Hongyu</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/spires_08_17/">Twisted Knots</a></td>
            <td>D. A. Xiaolin Spires</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/bailey_08_16/">Teenagers from Outer Space</a></td>
            <td>Dale Bailey</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/moles_12_16_reprint/">A Soldier of the City</a></td>
            <td>David Moles</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/tobler_05_17/">Baroness</a></td>
            <td>E. Catherine Tobler</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/arnason_12_16/">Checkerboard Planet</a></td>
            <td>Eleanor Arnason</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/devenport_08_16/">Now is the Hour</a></td>
            <td>Emily Devenport</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/schwitzgebel_09_17/">Little /^^^\&amp;-</a></td>
            <td>Eric Schwitzgebel</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/schwitzgebel_07_16/">Fish Dance</a></td>
            <td>Eric Schwitzgebel</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/fei_04_17/">The Robot Who Liked to Tell Tall Tales</a></td>
            <td>Fei Dao</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/oreilly_10_17/">The Last Boat-Builder in Ballyvoloon</a></td>
            <td>Finbarr O'Reilly</td>
        </tr>
        <tr>
            <td><a href="http://xroads.virginia.edu/~drbr/goodman.html">A Good Man is Hard to Find</a></td>
            <td>Flannery O'Connor</td>
        </tr>
        <tr>
            <td><a href="https://www.youtube.com/watch?v=RbfYMYRMnxs&app=desktop">Sole Solution</a></td>
            <td>Frank Russell</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/kloster_01_17">Interchange</a></td>
            <td>Gary Kloster</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/valentine_10_16/">Everyone from Themis Sends Letters Home</a></td>
            <td>Genevieve Valentine</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/ryman_09_17_reprint/">Warmth</a></td>
            <td>Geoff Ryman</td>
        </tr>
        <tr>
            <td><a href="http://www.eastoftheweb.com/short-stories/UBooks/VisiMill.shtml">Visiting the Millionaire</a></td>
            <td>George Anthony</td>
        </tr>
        <tr>
            <td>The Parade</td>
            <td>George Lefferts</td>
        </tr>
        <tr>
            <td><a href="http://strangehorizons.com/podcasts/podcast-terra-nullius/">Terra Nullius</a></td>
            <td>Hanuš Seiner</td>
        </tr>
        <tr>
            <td><a href="http://www.isfdb.org/cgi-bin/title.cgi?41300">I Have No Mouth, and I Must Scream</a></td>
            <td>Harlan Ellison</td>
        </tr>
        <tr>
            <td>A Civil Service Servant</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>A Criminal Act</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>Commando Raid</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>Contact Man</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>Down to Earth</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>Famous First Words</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>If</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>Incident in the IND</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>Mute Milton</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>Not Me, Not Amos Cabot!</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>The Final Battle</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>The Finest Hunter in the World</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>The Ghould Squad</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>The Greatest Car in the World</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>The Pad</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>The Powers of Observation</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>The Secret of Stonehenge</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>Toy Shop</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td>You Men of Violence</td>
            <td>Harry Harrison</td>
        </tr>
        <tr>
            <td><a href="http://www.newyorker.com/magazine/2015/02/23/kino">Kino</a></td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td><a href="http://www.newyorker.com/magazine/2014/10/13/scheherazade-3">Scheherazade</a></td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td><a href="http://www.hplovecraft.com">Ex Oblivione?</a></td>
            <td>Howard Philips Lovecraft</td>
        </tr>
        <tr>
            <td><a href="http://www.hplovecraft.com">The Rats in the Walls</a></td>
            <td>Howard Philips Lovecraft</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/macleod_03_17_reprint">The Discovered Country</a></td>
            <td>Ian R. MacLeod</td>
        </tr>
        <tr>
            <td>First Law</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Galley Slave</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Gold</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td><a href="https://www.technologyreview.com/s/531911/isaac-asimov-asks-how-do-people-get-new-ideas/">How do people get new ideas?</a></td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Lenny</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Let's Get Together</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Nightfall</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Risk</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Robot AL-76 Goes Astray</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Satisfaction Guaranteed</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>The Caves of Steel</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>The Dead Past</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>The Immortal Bard</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>The Last Question</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td><a href="http://chem.tufts.edu/AnswersInScience/RelativityofWrong.htm">The Relativity of Wrong</a></td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Victory Unintenional</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/park_03_17/">Real Ghosts</a></td>
            <td>J. B. Park</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/skillingstead-courtier_02_17/">Assassins</a></td>
            <td>Jack Skillingstead and Burt Courtier</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/skillingstead_09_16">The Despoilers</a></td>
            <td>Jack Skillingstead</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/skillingstead_10_17/">The Sum of Her Expectations</a></td>
            <td>Jack Skillingstead</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/opportunitiesforlostchildren.html">Opportunities for Lost Children</a></td>
            <td>James Beamon</td>
        </tr>
        <tr>
            <td>A Little Cloud</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>A Mother</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>A Painful Case</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>After the Race</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>An Encounter</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>Araby</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>Clay</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>Counterparts</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>Eveline</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>Grace</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>Ivy Day in the Committee Room</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>The Boarding House</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>The Death - Gabriel Conroy</td>
            <td>James Joyce</td>
        </tr>
        <tr>
        <tr>
            <td>The Sisters</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>Two Gallants</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td><a href="http://www.lightspeedmagazine.com/fiction/last-flight-doctor-ain/">The Last Flight of Doctor Ain</a></td>
            <td>James Tiptree Jr.</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/tiptree_05_17_reprint/">The Man Who Walked Home</a></td>
            <td>James Tiptree Jr.</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/lake_06_17_reprint/">Human Error</a></td>
            <td>Jay Lake</td>
        </tr>
        <tr>
            <td><a href="http://www.lightspeedmagazine.com/fiction/last-cheng-beng-gift/">The Last Cheng Beng Gift</a></td>
            <td>Jaymee Goh</td>
        </tr>
        <tr>
            <td>Aphrodite's Blood, Decanted</td>
            <td>Jennifer Campbell-Hicks</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/haldeman_07_17_reprint/">Forever Bound</a></td>
            <td>Joe Haldeman</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/kessel_01_17_reprint">Events Preceding the Helvetican Renaissance</a></td>
            <td>John Kessel</td>
        </tr>
        <tr>
            <td><a href="http://www.lightspeedmagazine.com/fiction/infinite-love-engine/">Infinite Love Engine</a></td>
            <td>Joseph Allen Hill</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/patt_06_17/">My Dear, Like the Sky and Stars and Sun</a></td>
            <td>Julia K. Patt</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/wade_04_17/">Sunwake, in the Lands of Teeth</a></td>
            <td>Juliette Wade</td>
        </tr>
        <tr>
            <td>La Noche Boca arriba</td>
            <td>Julio Cort&aacute;zar</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/yang_10_16_reprint/">Old Domes</a></td>
            <td>JY Yang</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/parker_02_17_reprint/">The Dragonslayer of Merebarton</a></td>
            <td>K.J. Parker</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/baker_05_17_reprint">Running the Snake</a></td>
            <td>Kage Baker</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/robson_05_17/">We Who Live in the Heart</a></td>
            <td>Kelly Robson</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/johnson_10_09/">Spar</a></td>
            <td>Kij Johnson</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/robinson_08_17_reprint/">Venice Drowned</a></td>
            <td>Kim Stanley Robinson</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/tidhar_07_17_reprint/">The Oracle</a></td>
            <td>Lavie Tidhar</td>
        </tr>
        <tr>
            <td><a href="http://www.fantasy-magazine.com/fiction/the-spontaneous-knotting-of-an-agitated-string/">The Spontaneous Knotting of an Agitated String</a></td>
            <td>Lavie Tidhar</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/gaiaschildren.html">Gaia's Children</a></td>
            <td>Lawrence Buentello</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/prell_01_17/">Justice Systems in Quantum Parallel Probabilities</a></td>
            <td>Lettie Prell</td>
        </tr>
        <tr>
            <td><a href="www.lightspeedmagazine.com/fiction/seven-permutations-daughter/">Seven Permutations of My Daughter</a></td>
            <td>Lina Rather </td>
        </tr>
        <tr>
            <td>The Opposite and the Adjacent</td>
            <td>Liu Yang</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/crescentini-valentini_01_17/">Milla</a></td>
            <td>Lorenzo Crescentini and Emanuela Valentini</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/clark_12_16/">A Tower for the Coming World</a></td>
            <td>Maggie Clark</td>
        </tr>
        <tr>
            <td><a href="http://strangehorizons.com/podcasts/podcast-only-calculate-the-motion-of-heavenly-bodies/">Only Calculate the Motion of Heavenly Bodies</a></td>
            <td>Marcia Richards</td>
        </tr>
        <tr>
            <td><a href="http://www.tor.com/2015/10/28/some-gods-of-el-paso-maria-dahvana-headley/">Some Gods of El Paso</a></td>
            <td>Maria Dahvana Headley</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/meanandclean.html">Mean and Clean</a></td>
            <td>Marie DesJardin</td>
        </tr>
        <tr>
            <td><a href="https://sites.google.com/site/markhuntleyjames/short-stories/pawnarchy">Pawnarchy</a></td>
            <td>Mark Huntley-James</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/personaltrainer.html">Personal Trainer</a></td>
            <td>Meg Elison</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/crinkles.html">Crinkles</a></td>
            <td>Michael Ryder</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/swanwick_04_17_reprint/">Ancient Engines</a></td>
            <td>Michael Swanwick</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/swanwick_10_16_reprint/">The Very Pulse of the Machine</a></td>
            <td>Michael Swanwick</td>
        </tr>
        <tr>
            <td><a href="https://www.tor.com/2016/09/28/the-city-born-great/">The City Born Great</a></td>
            <td>N.K. Jemisin</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/kress_06_16_reprint/">Pathways</a></td>
            <td>Nancy Kress</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/kress_12_16_reprint/">The Most Famous Little Girl in the World</a></td>
            <td>Nancy Kress</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/kritzer_03_17">Waiting Out the End of the World in Patty's Place Cafe</a></td>
            <td>Naomi Kritzer</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/theodoridou_10_17/">The Nightingales in Pl&aacute;tres</a></td>
            <td>Natalia Theodoridou</td>
        </tr>
        <tr>
            <td><a href="http://nathanmhurst.com/short-stories/killians-perception">AstrIID-06</a></td>
            <td>Nathan M. Hurst</td>
        </tr>
        <tr>
            <td><a href="http://nathanmhurst.com/short-stories/killians-perception">Killian's Perception</a></td>
            <td>Nathan M. Hurst</td>
        </tr>
        <tr>
            <td>Other People</td>
            <td>Neil Gaiman</td>
        </tr>
        <tr>
            <td><a href="https://omni.media/quantum-swarm">Quantum Swarm</a></td>
            <td>Nelson Lowhim</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/garcia-rosas_11_16/">Where Water Joins</a></td>
            <td>Nelly Geraldine Garcia-Rosa</td>
        </tr>
        <tr>
            <td>No Placeholder for You My Love</td>
            <td>Nick Wolven</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/wolven_05_17/">Streams and Mountains</a>/td>
            <td>Nick Wolven</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/kornher-stace_07_17">Last Chance</a>/td>
            <td>Nicole Kornher-Stace</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/harris_02_17">Prosthetic Daughter</a></td>
            <td>Nin Harris</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/harris_08_17/">Reversion</a></td>
            <td>Nin Harris</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/harris_11_16/">What the Stories Steal</a></td>
            <td>Nin Harris</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/okorafor_11_16/">Afrofuturist 419</a></td>
            <td>Nnedi Okorafor</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/okorafor-kahiu_10_16/">Rusties</a></td>
            <td>Nnedi Okorafor and Wanuri Kahiu</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/cade_08_17/">The Stone Weta</a></td>
            <td>Octavia Cade</td>
        </tr>
        <tr>
            <td><a href="http://dailysciencefiction.com/hither-and-yon/magic-realism/peter-m-ball/counting-down">Counting Down</a></td>
            <td>Peter M. Ball</td>
        </tr>
        <tr>
            <td><a href="http://www.rifters.com/real/shorts/PeterWatts_Ambassador.pdf">Ambassador</a></td>
            <td>Peter Watts</td>
        </tr>
        <tr>
            <td>The Defenders</td>
            <td>Philip K. Dick</td>
        </tr>
        <tr>
            <td><a href="https://archive.org/details/GoldenApplesOfTheSun/">A Sound of Thunder</a></td>
            <td>Ray Bradbury</td>
        </tr>
        <tr>
            <td><a href="https://archive.org/details/GoldenApplesOfTheSun/">The Foghorn</a></td>
            <td>Ray Bradbury</td>
        </tr>
        <tr>
            <td><a href="https://archive.org/details/GoldenApplesOfTheSun/">Hail and Farewell</a></td>
            <td>Ray Bradbury</td>
        </tr>
        <tr>
            <td><a href="https://archive.org/details/GoldenApplesOfTheSun/">The April Witch</a></td>
            <td>Ray Bradbury</td>
        </tr>
        <tr>
            <td><a href="https://archive.org/details/GoldenApplesOfTheSun/">The Flying Machine</a></td>
            <td>Ray Bradbury</td>
        </tr>
        <tr>
            <td><a href="https://archive.org/details/GoldenApplesOfTheSun/">The Fruit At The Bottom Of The Bowl</a></td>
            <td>Ray Bradbury</td>
        </tr>
        <tr>
            <td><a href="https://archive.org/details/GoldenApplesOfTheSun/">The Golden Apples of the Sun</a></td>
            <td>Ray Bradbury</td>
        </tr>
        <tr>
            <td><a href="https://archive.org/details/GoldenApplesOfTheSun/">The Murderer</a></td>
            <td>Ray Bradbury</td>
        </tr>
        <tr>
            <td>There will come soft rains</td>
            <td>Ray Bradbury</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/larson_01_17">The Ghost Ship Anastasia</a></td>
            <td>Rich Larson</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/larson_07_17">Travelers</a></td>
            <td>Rich Larson</td>
        </tr>
        <tr>
            <td>The Most Dangerous Game</td>
            <td>Richard Connell</td>
        </tr>
        <tr>
            <td><a href="https://maggiemcneill.files.wordpress.com/2013/03/the-man-who-traveled-in-elephants.pdf">The Man Who Traveled in Elephants</a></td>
            <td>Robert A. Heinlein</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/brice_04_17/">Conglomerate</a></td>
            <td>Robert Brice</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/artoffailure.html">The Art of Failure</a></td>
            <td>Robert Dawson</td>
        </tr>
        <tr>
            <td>The Next Scene</td>
            <td>Robert Reed</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/reed_07_17/">The Significance of Significance</a></td>
            <td>Robert Reed</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/reed_03_17/">Two Ways of Living</a></td>
            <td>Robert Reed</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/row_08_16/">Reclamation</a></td>
            <td>Ryan Row</td>
        </tr>
        <tr>
            <td><a href="http://www.nature.com/nature/journal/v519/n7542/full/519256a.html">The egg</a></td>
            <td>S. B. Divya</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/miller_06_17/">The Ways Out</a></td>
            <td>Sam J. Miller</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/murray_11_16/">Of Sight, of Mind, of Heart</a></td>
            <td>Samantha Murray</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/mcdonald_08_17_reprint/">Fleet</a></td>
            <td>Sandra McDonald</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/bensinger_08_16/">The Engines Imperial</a></td>
            <td>Sean Bensinger</td>
        </tr>
        <tr>
            <td><a href="http://www.tor.com/2017/03/08/persephone-seanan-mcguire/">Persephone</a></td>
            <td>Seanan McGuire</td>
        </tr>
        <tr>
            <td><a href="https://en.wikipedia.org/wiki/The_Lottery">The Lottery</a></td>
            <td>Shinichi Hoshi</td>
        </tr>
        <tr>
            <td>Hey, come on out!</td>
            <td>Shirley Jackson</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/heller_02_17/">How Bees Fly</a></td>
            <td>Simone Heller</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/samatar_08_12/">Honey Bear</a></td>
            <td>Sofia Samatar</td>
        </tr>
        <tr>
            <td><a href="http://www.lightspeedmagazine.com/fiction/the-red-thread/">The Red Thread</a></td>
            <td>Sofia Samatar</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/oelinium.html">Oelinium</a></td>
            <td>Steve Rodgers</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/moraine_08_17/">In the Blind</a></td>
            <td>Sunny Moraine</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/palmer_09_17/">The Secret Life of Bots</a></td>
            <td>Suzanne Palmer</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/tang_05_17/">The Person Who Saw Cetus</a></td>
            <td>Tang Fei</td>
        </tr>
        <tr>
            <td><a href="https://subterraneanpress.com/magazine/fall_2010/fiction_the_lifecycle_of_software_objects_by_ted_chiang">The Lifecycle of Software Objects</a></td>
            <td>Ted Chiang</td>
        </tr>
        <tr>
            <td><a href="http://www.terrybisson.com/page6/page6.html">They're made out of meat</a></td>
            <td>Terry Bisson</td>
        </tr>
        <tr>
            <td>The House of Half Mirrors</td>
            <td>Thoraiya Dyer</td>
        </tr>
        <tr>
            <td>The Dark City Luminous</td>
            <td>Tom Crosshill</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/purdom_09_17_reprint/">Bonding with Morry</a></td>
            <td>Tom Purdom</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/seedsofwar.html">Seeds of War</a></td>
            <td>Tommi Virtanen</td>
        </tr>
        <tr>
            <td><a href="http://www.lightspeedmagazine.com/fiction/pound-darkness-quarter-dreams/">A Pound of Darkness, a Quarter of Dreams</a></td>
            <td>Tony Ballantyne</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/seedsofwar.html">Liberty: Tales from the Tower :: Entry 2-01: Excuse Me</a></td>
            <td>Travis Vengroff</td>
        </tr>
        <tr>
            <td><a href="http://pikachu-train.deviantart.com/art/Scary-Stories-3-Such-Things-Happen-684045333">Scary Stories 3 - Such Things Happen</a></td>
            <td>Unknown (<a href="http://pikachu-train.deviantart.com/">Pikachu-Train</a>)</td>
        </tr>
        <tr>
            <td>The Ones Who Walk Away From Omelas</td>
            <td>Ursula Le Guin</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/chandrasekera_04_17/">Left of Bang: Preemptive Self-Actualization for Autonomous Systems</a></td>
            <td>Vajra Chandrasekera</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/prasad_01_17/">A Series of Steaks</a></td>
            <td>Vina Jie-Min Prasad</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/wang_12_16/">Painter of Stars</a></td>
            <td>Wang Yuan</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/xia_03_17/">Goodnight, Melancholy</a></td>
            <td>Xia Jia</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/lindell_12_16/">A Future Far Too Bright</a></td>
            <td>Yosef Lindell</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/ogawa_12_16/">Blue Grey Blue</a></td>
            <td>Yukimi Ogawa</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/zhang_07_17/">Zhang Ran</a></td>
            <td>An Age of Ice</td>
        </tr>
    </tbody>
</table>

<a href="#top">Back to top</a>
