<h2>
    <a name="short-stories-and-essays-i-have-already-read">Short stories and Essays I have already read</a>
</h2>

<table class="ui celled striped table">
    <colgroup>
        <col width="50%" />
        <col width="50%" />
    </colgroup>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/debodard_06_12/">Immersion</a></td>
            <td>Aliette de Bodard</td>
        </tr>
        <tr>
            <td><a href="http://www.nightmare-magazine.com/fiction/hungry-daughters-of-starving-mothers/">Hungry Daughters of Starving Mothers</a></td>
            <td>Alyssa Wong</td>
        </tr>
        <tr>
            <td><a href="http://www.triggerwarningshortfiction.com/suicide-club/">Suicide Club</a></td>
            <td>Amy Sisson</td>
        </tr>
        <tr>
            <td>The nine billion names of God</td>
            <td>Arthur C. Clarke</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/reflection.html">Reflection</a></td>
            <td>Aaron Wright</td>
        </tr>
        <tr>
            <td>Toward the Luminous Towers</td>
            <td>Bogi Tak&aacute;cs</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/twiceborn.html">Twiceborn</a></td>
            <td>C.L. Kagmi</td>
        </tr>
        <tr>
            <td><a href="https://en.wikipedia.org/wiki/The_Yellow_Wallpaper">The Yellow Wallpaper</a></td>
            <td>Charlotte Perkins Gilman</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/rambo_05_16/">Left Behind</a></td>
            <td>Cat Rambo</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/valente_10_11/">Silently and Very Fast</a></td>
            <td>Catherynne M. Valente</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/bailey_08_16/">Teenagers from Outer Space</a></td>
            <td>Dale Bailey</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/devenport_08_16/">Now is the Hour</a></td>
            <td>Emily Devenport</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/schwitzgebel_07_16/">Fish Dance</a></td>
            <td>Eric Schwitzgebel</td>
        </tr>
        <tr>
            <td><a href="http://xroads.virginia.edu/~drbr/goodman.html">A Good Man is Hard to Find</a></td>
            <td>Flannery O'Connor</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/valentine_10_16/">Everyone from Themis Sends Letters Home</a></td>
            <td>Genevieve Valentine</td>
        <tr>
            <td><a href="http://www.isfdb.org/cgi-bin/title.cgi?41300">I Have No Mouth, and I Must Scream</a></td>
            <td>Harlan Ellison</td>
        </tr>
        <tr>
            <td><a href="http://www.newyorker.com/magazine/2015/02/23/kino">Kino</a></td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td><a href="http://www.newyorker.com/magazine/2014/10/13/scheherazade-3">Scheherazade</a></td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td><a href="http://www.hplovecraft.com">Ex Oblivione?</a></td>
            <td>Howard Philips Lovecraft</td>
        </tr>
        <tr>
            <td><a href="http://www.hplovecraft.com">The Rats in the Walls</a></td>
            <td>Howard Philips Lovecraft</td>
        </tr>
        <tr>
            <td>Gold</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td><a href="https://www.technologyreview.com/s/531911/isaac-asimov-asks-how-do-people-get-new-ideas/">How do people get new ideas?</a></td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>Nightfall</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>The Dead Past</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>The Immortal Bard</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td>The Last Question</td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td><a href="http://chem.tufts.edu/AnswersInScience/RelativityofWrong.htm">The Relativity of Wrong</a></td>
            <td>Isaac Asimov</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/skillingstead_09_16">The Despoilers</a></td>
            <td>Jack Skillingstead</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/opportunitiesforlostchildren.html">Opportunities for Lost Children</a></td>
            <td>James Beamon</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/yang_10_16_reprint/">Old Domes</a></td>
            <td>JY Yang</td>
        </tr>
        <tr>
            <td>Aphrodite's Blood, Decanted</td>
            <td>Jennifer Campbell-Hicks</td>
        </tr>
        <tr>
            <td>La Noche Boca arriba</td>
            <td>Julio Cort&aacute;zar</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/kress_06_16_reprint/">Pathways</a></td>
            <td>Kate Baker</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/johnson_10_09/">Spar</a></td>
            <td>Kij Johnson</td>
        </tr>
        <tr>
            <td><a href="http://www.fantasy-magazine.com/fiction/the-spontaneous-knotting-of-an-agitated-string/">The Spontaneous Knotting of an Agitated String</a></td>
            <td>Lavie Tidhar</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/gaiaschildren.html">Gaia's Children</a></td>
            <td>Lawrence Buentello</td>
        </tr>
        <tr>
            <td>The Opposite and the Adjacent</td>
            <td>Liu Yang</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/meanandclean.html">Mean and Clean</a></td>
            <td>Marie DesJardin</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/personaltrainer.html">Personal Trainer</a></td>
            <td>Meg Elison</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/crinkles.html">Crinkles</a></td>
            <td>Michael Ryder</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/swanwick_10_16_reprint/">The Very Pulse of the Machine</a></td>
            <td>Michael Swanwick</td>
        </tr>
        <tr>
            <td>Other People</td>
            <td>Neil Gaiman</td>
        </tr>
        <tr>
            <td>No Placeholder for You My Love</td>
            <td>Nick Wolven</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/okorafor-kahiu_10_16/">Rusties</a></td>
            <td>Nnedi Okorafor and Wanuri Kahiu</td>
        </tr>
        <tr>
            <td><a href="http://www.rifters.com/real/shorts/PeterWatts_Ambassador.pdf">Ambassador</a></td>
            <td>Peter Watts</td>
        </tr>
        <tr>
            <td>There will come soft rains</td>
            <td>Ray Bradbury</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/artoffailure.html">The Art of Failure</a></td>
            <td>Robert Dawson</td>
        </tr>
        <tr>
            <td>The Next Scene</td>
            <td>Robert Reed</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/row_08_16/">Reclamation</a></td>
            <td>Ryan Row</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/bensinger_08_16/">The Engines Imperial</a></td>
            <td>Sean Bensinger</td>
        </tr>
        <tr>
            <td><a href="https://en.wikipedia.org/wiki/The_Lottery">The Lottery</a></td>
            <td>Shinichi Hoshi</td>
        </tr>
        <tr>
            <td>Hey, come on out!</td>
            <td>Shirley Jackson</td>
        </tr>
        <tr>
            <td><a href="http://clarkesworldmagazine.com/samatar_08_12/">Honey Bear</a></td>
            <td>Sofia Samatar</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/oelinium.html">Oelinium</a></td>
            <td>Steve Rodgers</td>
        </tr>
        <tr>
            <td><a href="https://subterraneanpress.com/magazine/fall_2010/fiction_the_lifecycle_of_software_objects_by_ted_chiang">The Lifecycle of Software Objects</a></td>
            <td>Ted Chiang</td>
        </tr>
        <tr>
            <td>The House of Half Mirrors</td>
            <td>Thoraiya Dyer</td>
        </tr>
        <tr>
            <td>The Dark City Luminous</td>
            <td>Tom Crosshill</td>
        </tr>
        <tr>
            <td><a href="http://compellingsciencefiction.com/stories/seedsofwar.html">Seeds of War</a></td>
            <td>Tommi Virtanen</td>
        </tr>
        <tr>
            <td>The Ones Who Walk Away From Omelas</td>
            <td>Ursula Le Guin</td>
        </tr>
    </tbody>
</table>

<a href="#top">Back to top</a>
