<h2>
    <a name="my-tsundoku-list">My tsundoku list</a>
</h2>

<p>Normally a cheap-bastard, but never save money on books. Except when I can buy the paperback instead
of the hardcover book. Whenever I go to a new place, I always check the bookstores and second-hand stores.
If not for something that I am already looking for (like Arto Paasilinna in English or Barry Crump's
Bastards I have met), then for recommendations for a new book or series.</p>

<table class="ui celled striped table">
    <colgroup>
        <col width="50%" />
        <col width="50%" />
    </colgroup>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fight Club</td>
            <td>Chuck Palahniuk</td>
        </tr>
        <tr>
            <td>La Femme d&#39;un autre et le mari sous le lit</td>
            <td>Fiodor Dosto&iuml;evski</td>
        </tr>
        <tr>
            <td>The Metamorphosis and Other Stories</td>
            <td>Franz Kafka</td>
        </tr>
        <tr>
            <td>To Kill a Mockingbird</td>
            <td>Harper Lee</td>
        </tr>
        <tr>
            <td>Blind Willow, Sleeping Woman</td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td>A Wild Sheep Chase</td>
            <td>Haruki Murakami</td>
        </tr>
        <tr>
            <td>The Algebraist</td>
            <td>Iain Banks</td>
        </tr>
        <tr>
            <td>The Dubliners</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>A Portrait of an Artist as a Young Man</td>
            <td>James Joyce</td>
        </tr>
        <tr>
            <td>Takedown Twenty</td>
            <td>Janet Evanovich</td>
        </tr>
        <tr>
            <td>World Without End</td>
            <td>Ken Follet</td>
        </tr>
        <tr>
            <td>Armagedon in Retrospect</td>
            <td>Kurt Vonnegut</td>
        </tr>
        <tr>
            <td>The War of the End of the World</td>
            <td>Mario Vargas Llosa</td>
        </tr>
        <tr>
            <td>Anathem</td>
            <td>Neal Stephenson</td>
        </tr>
        <tr>
            <td>Cryptonomicon</td>
            <td>Neal Stephenson</td>
        </tr>
        <tr>
            <td>High Fidelity</td>
            <td>Nick Hornby</td>
        </tr>
        <tr>
            <td>The Dreaming Void</td>
            <td>Peter H. Hamilton</td>
        </tr>
        <tr>
            <td>Seven New Zealand Novellas</td>
            <td>Peter Simpson</td>
        </tr>
        <tr>
            <td>Ordem e Progresso</td>
            <td>Pl&iacute;nio P. F. Sim&otilde;es</td>
        </tr>
        <tr>
            <td>It</td>
            <td>Stephen King</td>
        </tr>
        <tr>
            <td>The Dark Tower I: The Gunslinger</td>
            <td>Stephen King</td>
        </tr>
        <tr>
            <td>The Girl with the Dragon Tattoo</td>
            <td>Stieg Larsson</td>
        </tr>
        <tr>
            <td>The Girl Who Played with Fire</td>
            <td>Stieg Larsson</td>
        </tr>
        <tr>
            <td>The Girl Who Kicked the Hornets&#39; Nest</td>
            <td>Stieg Larsson</td>
        </tr>
        <tr>
            <td>Any Human Heart</td>
            <td>William Boyd</td>
        </tr>
    </tbody>
</table>

<a href="#top">Back to top</a>