# github_contributions.py
pygithub==1.43.*

# download_movielens_movies.py
requests==2.22.*
python-dotenv==0.10.*

# short-stories/short-stories-analysis.ipynb
jupyter==1.0.*
pandas==0.25.*

# password
keyring==21.2.*

# art-sprites
Pillow==7.2.*
glue==0.13
