# github_contributions.py
pygithub==1.54.*

# download_movielens_movies.py
requests==2.25.*
python-dotenv==0.15.*

# short-stories/short-stories-analysis.ipynb
jupyter==1.0.*
pandas==1.2.*

# password
keyring==23.0.*

# art-sprites
Pillow==8.4.*
glue==0.13
