---
layout: default
---
{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{%- if page.note -%}
<div class="note">{{ page.note | markdownify }}</div>
{%- endif %}

{{ content }}

{%- if paginator.posts.size > 0 -%}
<div class="blog">
  {%- for post in paginator.posts -%}
  {% include post-simple.html %}
  {%- endfor -%}
  <!-- Pagination links -->
  <div class="pagination">
    <p>
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="icon item">
        <i class="left chevron icon"></i>Previous
      </a>
      {% else %}
      <span class="icon item"><i class="left chevron icon"></i>Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">
        Next<i class="right chevron icon"></i>
      </a>
      {% else %}
      <span class="next ">Next<i class="right chevron icon"></i></span>
      {% endif %}
    </p>
  </div>
  {%- endif -%}
</div>
