<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
    {%include head.html%}
</head>
<body>
<div id="toc" class="ui vertical inverted sidebar menu left">
    {% include menu.html %}
</div>
<div class="ui fixed inverted main menu">
    <div class="ui container">
        <a class="launch icon item">
            <i class="content icon"></i>
        </a>
    </div>
</div>
<div class="pusher">
    <div class="full height">
        <div class="toc">
            {%- include sidebar.html -%}
        </div>
        <div class="article">
            <div class="ui basic segment">
                {{ content }}
            </div>
        </div>
    </div>
</div>
{% include scripts.html %}
</body>
</html>
